[2021-08-29 13:52] JanMarvin opened #253 "What does printerSettings do?"
I want to understand what this `printerSettings.bin` does. Looking at differences between a Microsoft 365 created xlsx from the example from #231, I found that this `printerSettings.bin` is not included in the MS365 xlsx. Since StackOverflow tells me that it's something Excel creates for printers, can we simply remove it?

https://github.com/ycphs/openxlsx/blob/fade98238d35ab677b78e6daf1c66b1901aa

[2021-08-29 15:14] JanMarvin commented on #231
I've found a possible solution that I hae tested with an older SPSS release.  Maybe you could test this with SPSS and PowerBI @deschen1 and @sgratzl . This requires two fixes which should be included into the package, but it's Sunday an I've already wasted enough hours in front of my PC.

[code]

[2021-08-30 12:14] mictru opened #254 "Loading/Saving empty sheets or sheets with "&" in their name"
**OS:** Windows 10, x86_64-w64-mingw32
**R-Version:** 4.0.5 x86_64
**OpenXSLX-Version:** 4.2.4
**Excel Version:** 2019, 16.0, 32 Bit

**Describe the bug**
Loading a workbook `loadWorkbook` and saving it using `saveWorkbook` corrupts the file if the loaded workbook (only?) contains an totally empty sheet or a sheetname containing "&"

**To Reproduce "empty sheet"**
1. Create a new file with an empt

[2021-08-31 13:45] deschen1 commented on #231
OK, so we checked and the fix above seems to work. To be more precise, applying BOTH fixes together works. Applying just one of them doesn't work, i.e. fix1 just leads to an empty file. With fix2 the initial problem persists.

[2021-08-31 17:23] deschen1 commented on #231
Ok, I need to retreat my last comment. It works until a certain data size, e.g. I created a random data set with 5000 rows and 100 columns and it works with the fix. It also works with 5000 rows and 200 columns, or 10000 rows and 100 columns. But it doesn't work e.g. with 5000 rows and 500 columns (where it would just open an empty data set in SPSS), also doesn't work with e.g. 10000 rows and 200

[2021-08-31 17:37] JanMarvin commented on #231
Did it work with Excels of this size? Anything specific you observed? Could you please provide the dimensions? It might be something with the SPSS reader. Aside from the dimensions there is nothing specific going on.
Edit: Did you try what SPSS tells you, modifying the java file? Also I don't remember, but aren't there any limitations of maximum number of cols and rows?

[2021-09-01 08:48] deschen1 commented on #231
The size itself shouldn't be an issue, i.e. I can open teh Excle file perfectly fine - 10k rows is nothing Excel can't handle. I also have different SPSS datat sets with e.g. 1.5k columns and 100k rows, so taht#s also not an issue. The error message really sounds like SPSS is limiting the size of Excel imports.

OK, so after some further digging, this might be related to this issue, i.e. with SPSS

[2021-09-01 10:26] JanMarvin commented on #231
Weird. Unless R or our C++ code does something strange with large integer values (maybe a buffer overflow; storing large integers in smaller int16 etc), there is no difference between integers and numerics. Both are written as strings to the xlsx file (in contrast to e.g. the the binary format for SPSS).

Otherwise I'll see if I can integrate the fix to the package, it'll require some thinking abo

[2021-09-01 17:58] deschen1 commented on #231
Just FYI, I installed an SPSS patch (see link above) and now the Excel files are correctly opened in SPSS 24 once the fix1 an fix2 are applied. So I'd say the fixes are the right ones. And the fact that I could open the respective files in SPSS only until a certain size limit, was purely related to the SPSS bug (which is fixed once you install the SPSS patch). So I guess no need to worry about tha

[2021-09-02 11:43] #57 closed, assigned to JanMarvin

[2021-09-02 11:59] #58 closed, assigned to JanMarvin

[2021-09-03 18:03] khorovatin commented on #46
Hi Arthfael,

I missed your message when it first was posted and now the link to your macro has expired. Would you mind posting a new link?

Thanks

[2021-09-04 14:59] jmbarbone commented on #249
I'd be favor of  the default of `FALSE`.  This is passed down to `file.copy()` where the default value for `overwrite` will be `FALSE` (unless `recursive` is `TRUE`).  This was also passed intermediated to `saveWorkbook()` where the default value is `FALSE`.  Since `write.xlsx()` is just a wrapper for creating and saving the workbook, to me it makes sense to keep the default values of the paramete

[2021-09-04 20:39] Arthfael commented on #46
Sure, here you go!
https://we.tl/t-xvYoZ29EDK
Cheers,

Armel

On Fri, Sep 3, 2021 at 8:03 PM Ken Horovatin ***@***.***>
wrote:

[2021-09-10 14:51] rfineman opened #256 "Add Accounting Underline Style to TextDecoration"
In addition to single and double underlining a cell, it would be great if we could have the options: "Single Accounting" and "Double Accounting."

<img width="176" alt="underline" src="https://user-images.githubusercontent.com/33735858/132872567-29cfb194-a146-4206-bf53-688a4b6e290a.PNG">

[2021-09-10 16:11] #249 closed, assigned to nobody

[2021-09-11 10:02] #256 closed, assigned to nobody

[2021-09-21 15:39] kongkong2006 opened #259 "read.xlsx crashes at getCellInfo"
**Describe the bug**
read.xlsx keeps running when reading a workbook. The rupbuild of the workbook is 4505 (rupBuild="4505").

**Expected behavior**
The workbook should be read in one minute as there are only about 3000 rows * 200 columns.

**Screenshots**
NA

**Example files**
The file is not sharable.

[2021-09-21 17:34] JanMarvin commented on #259
Hi @kongkong2006 , thanks for the report. Could you tell us a bit more about this file? Can you read it with different start rows? Can you read different sheets from this workbook? Have you tried reading it with current master or with the latest CRAN version? Can you tell us how the file was created and why you expect that `getCellInfo()` is failing? Can you describe the contents of the file, only

[2021-09-22 01:53] kongkong2006 commented on #259
Thanks for your quick response.
My R version is 4.0.3 and openxlsx is 4.2.4. I
used trace(openxlsx::read.xlsx, browser) to debug.
rupbuild in the worksheet.xml is 4505. There are no error messages.
The workbook only has one worksheet, including a lot of missing data and
mixed numeric and character columns. There are no other complicated things.
I got it from other people. I don't know how they cre

[2021-09-22 07:59] JanMarvin commented on #259
Hm, thanks. I'll try to look into it, unfortunately that's not a lot to work with.

[2021-09-22 10:09] JanMarvin commented on #259
Could you try the broken file with out current master? (something along the following: `devtools::install_github("ycphs/openxlsx")`.) There have been a few changes to `getCellInfo()` since the last CRAN release, it might be that the issue is already solved.

[2021-09-23 13:02] kongkong2006 commented on #259
Thanks! Yes, it works partially. We got the dataset. It should have 174
columns and we only got 34. The first column becomes the third column.
Most of the colnames become [1] "X1"     "X2"... it has one more record
than it should have.
Here is the warning message.
Warning message:
In read.xlsx.default("???.xlsx",  :
  NAs introduced by coercion

On Wed, Sep 22, 2021 at 6:10 AM Jan Marvin Garbuszus

[2021-09-23 19:23] JanMarvin commented on #259
Might be either some kind of inlineStr problem if your file contains characters (I merely implemented the most basic option) or something else is broken like the file without column row names. I fear there is not much we can do without an example file. If opening and saving with Excel works, that might be your best option for now.

PS: I close this issue, feel free to comment/open if something new

[2021-09-23 19:23] #259 closed, assigned to nobody

[2021-09-24 18:27] kongkong2006 commented on #259
Got it. Thanks for your efforts!

[2021-09-25 00:00] JanMarvin commented on #46
Just because I came across this and remembered the issue: You need to find the text in the sharedStrings table and create something like this:

[code]

This will be the value of a single cell. Whenever somethings highlighted you need the `<r><rPr>...</rPr><t>...</t></r>` block. Ideally you find your sharedString entry in the sharedStrings table (something like `wb$sharedStrings`). Modify it and/or

[2021-09-25 00:03] JanMarvin commented on #177
Closing because it is a duplicate of #46 . There I explained how it can be done (though untested). For further discussion please use #46.

[2021-09-25 00:03] #177 closed, assigned to nobody

[2021-09-25 02:23] JanMarvin opened #260 "XML in `drawingX.xml` might be broken"
https://github.com/ycphs/openxlsx/blob/fe7bd5be4153903e84c88eae98dc6cc5a0b786a9/R/loadWorkbook.R#L745

We might need something like the following, because here
https://github.com/ycphs/openxlsx/blob/fe7bd5be4153903e84c88eae98dc6cc5a0b786a9/R/loadWorkbook.R#L718-L720 we remove the outer tags and we never reapply them. This leads to broken `drawingX.xml` files.

[code]

Iirc correctly, that was the

[2021-09-25 02:31] JanMarvin commented on #260
ah nope, its to late for issues :yawning_face:

[2021-09-25 02:31] #260 closed, assigned to nobody

[2021-09-25 11:31] deschen1 opened #261 "Reading in file with formula shows values as 0 (unless the original file is opened in Excel and saved)"
I have an Excel file thta contains formulas. This file comes from a website. If I download the file and try to read in into R, it leads to a file showing the numeric values as "0". When I open the file with Excel and save it (without making any changes), and then run my code in R again, the file is read in correctly.

Note, the issue also appears when using `readxl::read_xlsx` so it's not necessar

[2021-09-25 11:51] JanMarvin commented on #261
Hi @deschen1 , please see my answer here https://github.com/ycphs/openxlsx/issues/188#issuecomment-832591241. The issue is that people normally expect Excel formulas in sheets to be evaluated. This is not true though, most of the readers only read the XML sheets. Otherwise they'd have to build a library that mimics the entire Excel functions. From a programming point not something impossible, but

[2021-09-25 17:30] #98 closed, assigned to nobody

[2021-09-25 17:38] JanMarvin commented on #161
Basic support for inlineStr has been added to master a while ago. Though that could be improved. The current implementation looks for `<is><t>` and matching closing tags. Actually it should look for `<is>` only, since the formatting is identical to the sharedStrings one. Only that the inlineStr are ... well inline. But I'll leave that to someone else to implement.

[2021-09-25 17:38] #161 closed, assigned to nobody

[2021-09-27 12:32] deschen1 commented on #261
I see, so unless someone enjoys rebuilding Excel in R, this will remain a "bug" inherent to all reading packages. Not being a developer, would it theoretically be possible to implement the workaround you suggested in this other thread? I.e. adding an option to the read-in functions of openxlsx that either asks the user if they want the file opened/saved and then to be read in. Or that it does this

[2021-09-27 14:14] sgrote opened #262 "Allow parallelization of getSheetNames"
**Is your feature request related to a problem? Please describe.**
It does not seem to be possible to run `openxlsx::getSheetNames` in parallel. Here's my code:

[code]
 Now, `getSheetNames(excel_files, parallel = TRUE)` sometimes throws an error

[code]
or
[code]

**Describe the solution you'd like**
My guess would be that each of the parallel tasks writes the same temporary file.
Maybe using a d

[2021-09-27 14:14] JanMarvin commented on #261
I assume it will, though I have not tired it yet. In https://github.com/ycphs/openxlsx/issues/227#issuecomment-880735673 @vchouraki proposed a solution based on LibreOffice to pre-load and save the xlsx file. I haven't personally tested this approach, but I assume it works. This is based on a headless LibreOffice, therefore it depends whether or not LibreOffice can evaluate the formula (I assume t

[2021-09-28 00:52] jmbarbone commented on #262
I'm not familiar with BiocParallel but I don't have an issue trying to read with the `parallel` package and the current dev version of `openxlsx`

[code]

<sup>Created on 2021-09-27 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

There is a line in `getSheetNames()` that creates a temporary directory:

https://github.com/ycphs/openxlsx/blob/0cc668b3b9aebe6e6b7949394e11a4354a9

[2021-09-29 08:31] sgrote commented on #262
Hi Jordan,
thanks for the quick reply and fix! Your example seemed to work because `makeCluster` uses the default `type = "PSOCK"`.
Using a fork cluster instead, leads to the same issues as in my example above:

[code]

The issue of using the same `tempdir()` in forked processes is also discussed e.g. [here](https://stackoverflow.com/questions/50717426/why-does-tempdir-give-the-same-result-on-ever

[2021-09-29 20:06] chicotobi opened #264 "writeData converts character column to numeric value"
**Describe the bug**

Function "base::format" is used to convert a numeric value 1234.1 to a character "1234.1" in a data.frame using dplyr , writeData writes the string "1234.0999999999999". I don't fully understand what's happening. Maybe this is a problem of lazy evaluation.

The bug doesn't appear, if I use base::paste.

The bug doesn't appear, if the data.frame is bound to a variable and then

[2021-09-29 21:22] jmbarbone commented on #264
Simpler reprex.

Doesn't seem to be anything with `dplyr`.   Looks like `write.xlsx()` gets this right but `writeData()` or

[code]

<sup>Created on 2021-09-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[code]

<sup>Created on 2021-09-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-09-29 22:12] JanMarvin commented on #264
Looks like its evaluated with `digits = 17`? Is this caused by us or simply an overflow of R's default precision or 16 digits? Nothing in writeData looks like its modifying anything, therefore I tend to agree that its not our bug.

[code]

[2021-09-30 06:53] chicotobi commented on #264
JanMarvin, I agree, maybe it's a bug somewhere else. But to me the objects look identical. Can you give me a way different than utils::str to see the difference? This is the output for my three provided cases (first case gives the error, second and third work with writeData).

[code]

I see this output as: base::format converts the number to a string with six characters, namely '1' '2' '3' '4' '.'

[2021-09-30 07:44] chicotobi commented on #264
Solution:

str forces evaluation in current environment, that's why they look identical. The objects are not identical. One is a "real numbers and strings"-object and the other is still a dangling lazily-to-be-evaluated expression with default arguments for digits.

I wrote about the rest on my StackOverflow-Post.

https://stackoverflow.com/questions/69378224/why-do-these-commands-give-different-r

[2021-09-30 08:27] JanMarvin commented on #264
The MWE by @jmbarbone gave me a similar impression. Embedding things in the tidyverse made it harder to spot. We should investigate where this digits option comes from (it's obviously differing from the default global environment). Especially now that R brings it's own pipe and people might use this more. PR are welcome.
For the time being there are other ways to convert numbers to characters e.g.

[2021-09-30 09:05] JanMarvin commented on #264
FYI It's a side effect from here:
https://github.com/ycphs/openxlsx/blob/0694c7aa6cdbaf7e0eca2edff24aeab439645302/R/utils.R#L41-L50

[2021-09-30 09:19] JanMarvin commented on #264
Something like `eval(x, envir = globalenv())` prior to entering our environment would be a quick and dirty solution, although it's kind of a hack. If someone has a better solution ...

[2021-09-30 09:33] chicotobi commented on #264
I thought so too, but it doesn't work:

[code]

I mean, am I stupid or what is going on?

[2021-09-30 09:46] JanMarvin commented on #264
I suggest to add the eval into the function

[code]

[2021-09-30 12:29] chicotobi commented on #264
Ah yeah, that would be a solution within your code. So it works, because in my case, eval is still part of a piping-chain, but in your case, eval is really it's own expression and get's executed before the scoped options change.

Oh man, I really don't like where all this is going... you don't even need to call anything. Simply writing the symbol is enough to trigger the evaluation, and then x is

[2021-09-30 14:45] JanMarvin commented on #264
I'll have a look. I assume that calling x the way you did does actually do the same thing. In our code I fear that the environment might be impacted differently. It might be that the option setting function is called early on.
In addition, I prefer the eval part because at least for me it's easier to spot the impact. Though maybe parent environment might be the better call? For now I consider it a

[2021-09-30 20:15] jmbarbone commented on #264
I may have found a simple solution by adding `force(x)` at the beginning of `writeData()`, before any options are set.  Seems to do the trick.  I'll submit a PR soon.

[2021-09-30 21:03] #262 closed, assigned to nobody

[2021-10-05 07:42] deschen1 commented on #261
Sorry for the late reply. I just encountered that the openxlsx package has this `openXL´ function, which automatically opens an Excel file in the system's default tool (MS Excel here). So wouldn't it be possible from here to also hav a function that automatically saves/closes the file? I mean, it's probably not that trivial, because opening is easy, but how would you be able to access the save/clo

[2021-10-05 17:31] JanMarvin commented on #261
Unfortunately I'm unaware how one can script Excel with R only. I'm not saying it's impossible, but I simply do not know how. With other script languages it seems possible (e.g. [powershell](https://ewenorme.com/2016/06/14/automating-excel-for-headless-server-side-html-conversion/)).

Having it as an option can hurt, I agree. Maybe I'll add the LibreOffice approach as an option.

[2021-10-05 17:39] #264 closed, assigned to nobody

[2021-10-07 20:19] tedtoal opened #266 "Error: Input must be a vector, not NULL"

[2021-10-07 20:20] #266 closed, assigned to nobody

[2021-10-07 20:20] tedtoal commented on #266
Wrong package.

[2021-10-08 08:08] bersbersbers opened #267 "Segmentation fault involving code using `write.xlsx` (and `tidyr`)"
I am cross-posting this here and in https://github.com/tidyverse/tidyr/issues/1163 after a series of earlier investigations (https://github.com/thomasp85/patchwork/issues/278, https://github.com/rstudio/rmarkdown/issues/2229, https://github.com/tidyverse/ggplot2/issues/4635).

I am seeing reproducible segmentation faults on Linux and Windows using the following code. There are two packages remaini

[2021-10-08 10:47] JanMarvin commented on #267
Hi @bersbersbers , does `fun2()` crash? I don't see openxlsx used anywhere else? If so, why does it crash with our current master? In addition, this bug report is not really helpful, because we now have a symptom, but nothing else to work with. Any specific error message? Unless we crash with `as.data.frame(1)`,  this looks unrelated to me.

[2021-10-08 11:08] bersbersbers commented on #267
Usually not, no. But the same example without `fun2()` never crashes, either.

Good question. Yes (with 3309cb9).

Have you tried reproducing it? I can on two completely unrelated systems. If you could, you might be able to check more easily which parts of `openxlsx` *might* be related.

Yes - segmentation faults and/or "recursive gc invocation". May look like this:

[code]

[2021-10-08 11:24] JanMarvin commented on #267
Well it's crashing in `fun1()`. Therefore I conclude that it's not our fault. I'm not sure what `tidyr` does, maybe it's using an option set by us? On the other hand you're using an internal API to interact with their code, probably circumventing fail-safes they might have implemented. There are reasons why one should not do this.

[2021-10-08 11:31] JanMarvin commented on #267
Maybe use `do.call("rbind",...)` or the corresponding `tidyverse` functions, but this looks to me as an unintended use of code and not at all like a bug. Therefore I'm closing this.

[2021-10-08 11:31] #267 closed, assigned to nobody

[2021-10-08 11:35] bersbersbers commented on #267
I'm not sure it's that easy. I saw similar code crash with `saveRDS(ggplot())`, but it turned out not to be related to `ggplot2` at all. See the linked issue above,
https://github.com/tidyverse/ggplot2/issues/4635#issuecomment-937539461.

True. Check
https://github.com/tidyverse/ggplot2/issues/4635#issuecomment-938393909 near the bottom for an example that uses only public APIs. I made a deliberat

[2021-10-08 11:38] bersbersbers commented on #267
Also check the second Details block in https://github.com/tidyverse/ggplot2/issues/4635#issuecomment-937410680. This is`openxlsx` very close to the top.

[2021-10-08 11:46] JanMarvin commented on #267
Hm, the only reason I see, why it could crash and how we might be related is due to some options. You could check this if running in an entire clean environment an one with our options set. Something like `opt <- options ()` and restore after loading our code. Other than that I don't think that we set special things for the environment or classes.

The thing with the tidyverse interaction is that

[2021-10-08 12:04] bersbersbers commented on #267
Good idea, I'll try that next week.

I noticed the same thing ;) that's one reason why I converted the public API call to the private one. simplifyPieces is already implented in C++: https://github.com/tidyverse/tidyr/blob/master/R/cpp11.R
https://github.com/tidyverse/tidyr/blob/master/src/simplifyPieces.cpp

[2021-10-08 15:50] jmbarbone commented on #267
@bersbersbers, can you try to use the [reprex](https://reprex.tidyverse.org/) package and include your session information?

I ran the below and didn't have any errors.

Note that I changed two things: redirected xlsx creation to a `tempfile()` (for cleanup) and removed the `while (TRUE)` loop so that it would stop without having to fail -- although I ran this well over 5 minutes without any issue

[2021-10-08 16:58] JanMarvin commented on #267
I tried it at home and I could confirm the crash (R 4.1.1 on Arch). After a rebuild of `openxlsx` it went away. Maybe something spurious caused by an updated package? I replaced the `openxlsx::` call with some other package and it caused a similar error which went away after a rebuild too. Took me at least an hour of my life :see_no_evil:

[2021-10-08 20:39] bersbersbers commented on #267
[code]

<sup>Created on 2021-10-08 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[code]

That code still fails for me when pasted into R (not as a reprex, though), Output on Windows:

[code]

You may be misunderstanding (or maybe I am). https://github.com/tidyverse/ggplot2/issues/4635#issuecomment-938393909 does not use any non-exported functions:

[code]

[2021-10-08 20:44] bersbersbers commented on #267
Great, so I'm not crazy after all ;)

What do you mean by "rebuild"? I reinstalled all packages two nights ago using `install.packages()`, and that did not fix the problem for me. Note that the problem is still a bit stochastic - after rebooting or other similar things, it sometimes does not reproduce for a a few tries, until it suddenly does (and then consistently does).

Still possible of course

[2021-10-08 20:46] bersbersbers commented on #267
And you are only starting from 10 lines of code. Imagine having to isolate such a case from thousands of lines of code, with the problem first appeared in a `shiny` app using lots of `rmarkdown` and `ggplot`, and only reproduced through `shinytest` initially... I guess I'm well over 20 hours into this ;)

[2021-10-09 11:48] JanMarvin commented on #267
With build I meant `R CMD install .` Maybe some library on my OS changed (GCC or Rcpp or something).

Well my time is spent voluntarily ... 😄 Since you're on windows it might be something else pending. I'll see if I can revive my windows R install, but most likely it won't be soon I'm afraid. Maybe end of next week. And for me it was random too. Wrapping `fun1()` in `try()` made the problem go awa

[2021-10-11 06:57] bersbersbers commented on #267
Thanks for your investigations!

I see! I tried `R CMD INSTALL .` for `openxlsx` master, and it did not solve the problem for me. (I had done that before, anyway, by reinstalling *all* packages in my library, so I didn't expect a change, either.)

I have noticed that changing system-wide things, or restarting after a while (such as after a weekend), makes the problem seem to have gone away. But us

[2021-10-11 08:04] bersbersbers commented on #267
Fyi, I can now repro this consistently for every version of `tidyr` using `cpp11` (which is >= `1.1.1`), but not for any earlier version using `Rcpp`. I think this is another bit of information that makes `tidyr` (or their dependencies) the most likely source. I'll focus on https://github.com/tidyverse/tidyr/issues/1163 next - thanks for your help!

[2021-10-11 14:16] Stefan2015-5 opened #268 "Error in if (this.sty$numFmt$numFmtId == 9999) { : argument is of length zero"
I encountered the following issue:

**To Reproduce**

[code]

**Additional context**
Running R 4.1.0 on windows 10 and openxlsx 4.2.4
It is very strange indeed. If I replace the `writeData` command slightly to

[code]
everything will be written and saveWorkbook does not throw the error.

EDIT: also, if I specify no surrounding borders, saveWorkbook does not throw the error.

[2021-10-11 15:00] jmbarbone commented on #268
@Stefan2015-5, can you try running this with the current dev version?

[code]

This seems to work fine for me:

[code]

<sup>Created on 2021-10-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2021-10-11 15:27] bersbersbers opened #269 ""Partial name match" warnings"
**Describe the bug**
I receive "Partial name match" warnings.

**To Reproduce**

[code]

**Expected behavior**
No warnings. Instead, these warnings in several different tests:

[code]

Related:

https://github.com/ycphs/openxlsx/blob/3309cb93888d8354883c7c4e403491be23ac7853/R/build_workbook.R#L110

https://github.com/ycphs/openxlsx/blob/3309cb93888d8354883c7c4e403491be23ac7853/tests/testthat/test-

[2021-10-11 15:36] Stefan2015-5 commented on #268
thanks for the quick reply.
[code]
that did it. No error.
Thanks for the amazing package

[2021-10-11 15:36] #268 closed, assigned to nobody

[2021-10-11 20:36] jacksonsj commented on #245
Is this fix on CRAN yet? Running into the same issue, also with version `4.2.4`, though on R version `4.1.1`

[2021-10-11 21:01] JanMarvin commented on #245
Unfortunately on our end life got in the way, though a fix should be on Cran soon. Until then please test if the issue remains with the current master branch.

[2021-10-11 21:04] jacksonsj commented on #245
Confirming issue was fixed with `master`

[2021-10-13 17:43] #269 closed, assigned to nobody

[2021-10-13 20:32] bersbersbers commented on #269
Thanks!

[2021-10-16 02:11] #108 closed, assigned to nobody

[2021-10-16 02:11] #105 closed, assigned to nobody

[2021-10-16 17:53] tri-ton opened #273 "Function to convert column letters in Excel into integers"
I use openxlsx and show it to colleagues for many years and each time we discuss with someone that it would be great to specify columns in read.xlsx() as letters, not numbers. This fact is the only reason I recently started to show people also the package readxl, where you can easily specify a range like 'A3:G11' for import (but no possibility to omit certain rows or columns from the range prevent

[2021-10-16 17:58] JanMarvin commented on #273
Hi @tri-ton , yes it's possible, I might have an implementation lying around and there should be an internal function you can use already.

[2021-10-16 18:09] JanMarvin commented on #273
PR in #274
It's not entirely what you requested. You need to specify the entire range, since R does not know that Excel expects the change from Z to AA, but additional wrappers might be added. This was just a function I had lying around and copy-pasted it over.

[2021-10-17 14:21] jmbarbone opened #275 "`createComment(width)` fails with integers"
Reported in [awalker89/openxlsx/issues/538](https://github.com/awalker89/openxlsx/issues/538) by @yb2125

Class checking for comment is too strict/not correct.

[code]

<sup>Created on 2021-10-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-10-17 18:02] JanMarvin commented on #273
Once this pull request is merged, you can adapt it to your needs. For the example you've given above (`"B:F, K, O, X:AD"`) you can use `strsplit` and `int2col`, `col2int` to customize the output to your needs.

[2021-10-17 21:03] #275 closed, assigned to nobody

[2021-10-19 12:52] ycphs commented on #253
Then let's remove it

[2021-10-19 12:56] #273 closed, assigned to nobody

[2021-10-25 10:41] neros commented on #207
Thank you @JanMarvin and others for the fix.  Is there a timeline for this fix on Cran?  Having upgraded to 4.2.4, existing code breaks that uses styles (filtering data using FontColour format, specifically). This is an important fix for existing code base within the package community.

[2021-10-25 11:49] JanMarvin commented on #207
Hi @neros , I'm not involved in the CRAN releasing process. That's @ycphs part, but he was involved with personal matters. For now the current master is what I consider the next release, therefore if you need it, you can build from there. Otherwise a new release will follow soon™.

[2021-10-25 17:41] tri-ton commented on #273
Hi Jan, thanks a lot for the pull request and sorry for the delayed response. I needed some time to check everything and write the wrapper as you suggested. It sounds perfectly reasonable that `col2int` now behaves fully opposite to `int2col`, so I suggest adding additional short function `c2i` with the simplified input like (`"B:F K O X:AD"`). I have zero experience with GitHub, so here is my cod

[2021-10-25 18:31] JanMarvin commented on #273
Hi @tri-ton , feel free to open a pull request. Personally I have no use for such a function (at least not immediately hence haven't written one), but I see that it might be useful if correctly embedded. We can discuss the interface once there is a pull request. Using whitespace as separator seems kinda odd, but that's just a minor thing. If you open the pull request, please add some unittests and

[2021-10-26 17:43] mendy-friedman commented on #207
I downloaded the latest master branch. Most of the formatting issues are now fixed, but there are still a few formatting pieces that are not carried over.  Can you please look into this before the next release?

- Tab formatting: If a tab in the original workbook has a color instead of the default gray, this color is lost upon loading and then saving the workbook.  Additionally, hidden tabs become

[2021-10-26 18:06] JanMarvin commented on #207
Hi @mendy-friedman , I currently don't have time to look into this and personally think these can be fixed in follow up releases. It might be a good idea to open additional issues for these and just out of curiosity, did any of these work in previous releases? For instance the hidden/unhidden part seems like it never worked and the button size is afaik unhandled too. Also it would be helpful if yo

[2021-10-26 22:21] JanMarvin commented on #207
Late night test. I created a simple  workbook with colored tabs with MS 365 in the web editor. Downloaded the xlsx file. Ran the following lines and the resulting `test.xlsx` sheet had colored tabs with LibreOffice and MS 365. Meaning I couldn't reproduce the issue. Same thing happend with hidden columns. If I hid all from `C:XFD` in MS 365 and ran the lines below, everything looked the same (with

[2021-10-26 22:30] JanMarvin opened #279 "Hidden sheets unhide when loading and saving"
- Tab formatting: hidden tabs reappear upon loading and saving the workbook.

_Originally posted by @mendy-friedman in https://github.com/ycphs/openxlsx/issues/207#issuecomment-952166666_

[2021-10-26 22:32] JanMarvin commented on #279
Pre saving: [ColorTabs3.xlsx](https://github.com/ycphs/openxlsx/files/7421865/ColorTabs3.xlsx)

After saving: [test3.xlsx](https://github.com/ycphs/openxlsx/files/7421863/test3.xlsx)

[2021-10-26 22:35] JanMarvin commented on #279
From `workbook.xml`. The hidden argument somehow got lost and should be re-assigned.

pre saving:
[code]

post saving:
[code]

[2021-10-26 22:44] JanMarvin commented on #279
Seems like something is lost when reading. I'm leaving this for now, if someone is willing to pick this up or fixes it, be my guest :)

[2021-10-27 03:02] mendy-friedman commented on #207
appreciate the quick reply - I'll try to create a reproducible example that I can share.  I'll reply to the separate issue that you opened.

[2021-10-27 07:39] bersbersbers commented on #267
Fyi, apparently fixed in https://github.com/r-lib/cpp11/pull/245.

[2021-10-27 07:49] JanMarvin commented on #267
Thanks for the heads-up!

[2021-10-27 08:09] JanMarvin commented on #254
most likely the issue with & in the filename is solved in #278

[2021-10-27 14:46] mendy-friedman commented on #207
In my actual use case, the worksheet tabs do lose their colors, but when I create a (simpler) reproducible example, the tabs maintain their colors.  Wondering if one of the steps that I do before saving (writing new data to the workbook, etc.) is impacting this.  I'll keep researching.

The issue with attributes that apply to an entire column or row being deleted is still happening unfortunately.

[2021-10-27 14:52] mendy-friedman opened #280 "Formatting Attributes Applied to Entire Columns not Carrying Over to Saved Workbook"
**Describe the bug**
If you read in a workbook with openxlsx, and it includes formatting that is applied to an entire column/row (for example, the entire column is shaded a certain color, or all columns from column X to the end of the workbook are hidden), this formatting is stripped upon saving the workbook out again.

**To Reproduce**
Initial file:
[test.xlsx](https://github.com/ycphs/openxlsx/f

[2021-10-27 15:13] mdorchuckuva commented on #207
@mendy-friedman not a dev on this project, but a frequent user.  I have experienced what you're experiencing (tabs losing colors, some columns/rows losing attributes) if there is an xml error w/ the workbook generally.  when you do saveworkbook on the one you're seeing issues w/ in R are you getting any warning messages back?

do you have comments in the workbook (the new office 365 style)?

[2021-10-27 15:27] mendy-friedman commented on #207
@mdorchuckuva - I'm not getting any warning messages back.  No office 365 comments in the workbook, although it does include some other attributes such as some vba code, a user form, etc.

@JanMarvin - I was able to create a reproducible example that doesn't include company confidential information.  When I read in the first file and save it back out, I get the second file (the tab color of the fi

[2021-10-27 17:54] JanMarvin commented on #280
Confirmed. We are somehow losing a style.

Yours looks like this:

[code]

Ours looks like this:
[code]

Edit: it might be something else. We're ignoring quite a few xml nodes from styles. Most likely because nobody had the time or need to understand them.

[2021-10-27 18:57] joshuaschwab opened #281 "openxlsx.numFmt changes date format"
**Describe the bug**
openxlsx.numFmt should only change numeric columns but may also change date columns to numeric

**To Reproduce**
[code]

**Expected behavior**
test2.xlsx has the date column formatted as a date

**Current behavior**
test2.xlsx has the date column formatted as numeric.

**Screenshots**
<img width="376" alt="image" src="https://user-images.githubusercontent.com/3989807/139128767

[2021-10-27 20:27] cryptobiotic commented on #36
@ycphs were you able to implement the change you suggested to cloneWorksheet?
cloneWorksheet(wb, # source
target_wb , # optional parameter (one or vector)
sheetName,
clonedSheet # one (recycle) or vector(but the same length as the target_wb)
)

[2021-10-28 20:12] JanMarvin commented on #280
I dug into the code and assume I've found the issue.

The `loadworksheets()` function checks if the worksheet contains data.

https://github.com/ycphs/openxlsx/blob/f890014ee4fc31bce2bf8cb5daf8229ba9bec350/src/load_workbook.cpp#L58

The worksheet you provide in the example does not contain data. Therefore the `styleObjects` for the empty sheet are never evaluated and because of this the sheet lose

[2021-10-28 20:40] JanMarvin commented on #280
Oh and the rest goes away with something like this (this recreates what the original xml file looks like). Only other issue is that it's entirely dark gray, because of the issue mentioned in the comment above (and because of the problem, that we do not import the row attributes):

[code]

Long story short, there are a few issues, some can be circumvented and possibly should be circumvented, but ot

[2021-10-30 12:24] #279 closed, assigned to nobody

[2021-11-02 10:31] hloefflerwirth opened #284 "Automatic time format conversion"
Hi, thanks for your great work on this useful package!

I encountered a problem when loading the following spreadsheet:

![grafik](https://user-images.githubusercontent.com/32058202/139829503-c73364ef-4c41-4019-8b29-22ebf87ae57a.png)

When loading the data using
`tab <- openxlsx::read.xlsx("name.xlsx")`

the character strings resembling time (such as "15:06:01") are fomated into fuzzy numbers:

![

[2021-11-02 10:55] JanMarvin commented on #284
Do we somehow lose a `G`? Could you share the xlsx or create a reproduceable example? It might be that the value in the Excel file is different an has some kind of format attached to it. You could see if you can convert it to a string in Excel to see if the issue remains.

Edit: you might run it with `detectDates=TRUE` if this is the issue. Kinda hard to spot
Edit2: I'm unaware how we handle dates

[2021-11-02 11:06] JanMarvin commented on #284
You can use the following, it depends on the `hms` package.

[code]

where x is the value you want to convert.

Edit: you can wrap the output in `as.character` to add it to your output. I won't add the hms package as a dependency to the package, due to the unfortunately large amount of dependencies average tidyverse packages bring along. Enough of the many edits :)

[2021-11-02 11:18] JanMarvin commented on #284
there is optionally `openxlsx::convertToDateTime()`, but it creates a POSIX date with 1899-12-31.

[2021-11-02 11:22] hloefflerwirth commented on #284
Thank you!
Indeed, there are no G suffixes in some cells, which is part of the information.

I also wrote a little workaround using the the package's conversion function. Given the data loaded from xlsx is this
![grafik](https://user-images.githubusercontent.com/32058202/139836788-d22c5693-398b-4a26-9f2a-648382f35e58.png)

`conversion <- sapply(strsplit(as.character(openxlsx::convertToDateTime(tab

[2021-11-02 11:22] #284 closed, assigned to nobody

[2021-11-03 04:45] acobolew opened #285 "tag in [Content_Types] refers to empty drawing, triggering error in OpenXml"
**Describe the bug**
When there are no drawing objects, the xlsx file contains no /xl/drawings folder but the [Content_Types].xml still contains a tag that refers to a file in that folder. The file will still open OK in Excel, but it will throw an error message in OpenXls: "Specified part does not exist in the package." Files created directly by Excel that don't have drawings do not have the offen

[2021-11-03 06:42] JanMarvin commented on #254
might be related to #286

[2021-11-03 17:06] acobolew commented on #285
The /xl/worksheets/_rels/sheet1.xml file has a similar issue, with >= two tags referring to ../drawings even when ../drawings folder is missing. I will expand the PR to address this as well

[2021-11-03 18:26] JanMarvin commented on #285
Sure thing, take your time. Could have pushed to the pull request too.

[2021-11-03 20:22] acobolew commented on #285
Fork renamed to  remove-refs-to-missing-drawings-from-xml . With today's commit to that fork, the files I create without drawings using now import to OpenXls successfully, so I hope my modifications to method writeSheetDataXML are correct ;)

Will make new PR and show it as addressing issue #285

[2021-11-06 02:02] #33 closed, assigned to nobody

[2021-11-07 02:44] jmbarbone opened #288 "`read.xlsx(detectDates = TRUE)` failing"
Reporting again here as we still have this error

[code]

<sup>Created on 2021-11-06 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

**Original**

[2021-11-09 13:08] bersbersbers opened #292 "Corrupt Excel file when column name is `NA`"
**Describe the bug**
When a dataframe's column name is NA, `openxlsx` writes a corrupt Excel file (according to Microsoft Excel 2016):

**To Reproduce**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/12128514/140929399-d376e162-23f8-44eb-9a08-1c4e110631f6.png)

[2021-11-10 08:57] tlapak opened #293 "Invalid format string in loadWorkbook"
As of R 4.1.0 the following bit throws a warning if `extLinksXML` is not empty since the format string does not contain any conversion specifications. I _think_ its last part should read `Target="externalLinks/externalLink%s.xml"` but I haven't tested that or thought through the logic of what's being done exactly.

https://github.com/ycphs/openxlsx/blob/08de207e0c069d75429ecec10f5d6d1b92e9cd46/R/l

[2021-11-10 09:24] JanMarvin commented on #293
Hi @tlapak , thanks. Makes sense. Could you prepare a pull request and test it?

[2021-11-13 02:04] #113 closed, assigned to nobody

[2021-11-15 20:51] bfreed3 opened #294 "Multiple groupRows?"
It seems you can only group one set of rows per worksheet with this function. I want to create 3 separate, non-nested groups in the iris data set by Species. Can this currently be done?

[2021-11-16 01:21] tylerlittlefield commented on #249
The default of `FALSE` has caused quite a bit of headaches for me. Really happy to see it has been reverted on the development version! 👍🏻

[2021-11-16 22:34] zykezero commented on #294
In my experience multiple grouped rows in openxlsx will cause the workbook to crash.

[2021-11-18 07:12] dkoltg opened #296 "Missing values generated with setColWidths()"
Hi,
Since this morning I get an error message telling me that NA values are generated when I create an xlsx-file out of my tables. Going through the code it looks like the bug must be related to the setColWidths() part as all the other parts don't lead to the error message. Here my code

[code]

Thanks for having a look at it.

[2021-11-18 09:47] JanMarvin commented on #296
Hi @dkoltg , unless you've updated anything (did you?), it might be because of your input data. Could you please prepare a minimal reproduceable example. Examples were given in the bug report template you'd choose to ignore.

[2021-11-18 09:54] dkoltg commented on #296
Hi, I went several times through my data and couldn't find anything there. I updated the openxlsx package because of an error message in creating a wb yesterday. Could that have an impact?

[2021-11-18 10:12] JanMarvin commented on #296
Unless we know your specific setup (your previous version, data and minor things like the operating system) this is kinda hard to tell. My best guess is a very specific "maybe". I'll look into it

[2021-11-18 10:19] dkoltg commented on #296
I use R-version 4.0.3 and update or at least tried to update openxlsx to version 4.2.3 (I had some problems with updating the package rio which was recommended in a stackoverflow-post regarding the issue with creating a wb). Do you need any other information?

[2021-11-19 15:51] JanMarvin commented on #296
The following works for me just fine (using master branch). Could you have a look if the issue remains on master or tell us about your input data. Is it a data frame and where do you see the missing values?

[code]

[2021-11-19 17:40] JanMarvin commented on #294
@bfreed3 currently not possible, though I've implemented such functionality via #297 please have a look if that solves your problem. I've added examples based on the iris dataset.

[2021-11-19 21:34] romanzenka opened #298 "openxlsx::writeDataTable saves empty cells for data.frame columns which contain vectors with NAs in them"
**Describe the bug**
When saving a data.frame whose column is a list containing vectors with NAs with them, presence of NA results in all values being omitted from output.

**To Reproduce**
[code]

**Expected behavior**
The excel spreadsheet should contain following table:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/66568/142694372-b7276612-5bed-4644-81fe-93e785493ea

[2021-11-19 21:50] zykezero opened #299 "Add excel dataTable examples to writeFormula()"
Hello!

I really enjoy openxlsx it's been great to use, I want to contribute something that I think would be valuable for the documentation.
I saw that there is a label for "documentation" so I hope that this is appropriate.

It's regarding dataTable formulas. These formulas have a lot of benefit and I think the documentation should include at least 1 example and as well as explaining how to write

[2021-11-19 22:33] JanMarvin commented on #298
Hi @romanzenka , thanks for the report. I can reproduce the issue with current master. Just asking is there any reason why you expect `4;;5`? Is this documented somewhere? I wonder if we should return `2;#N/A;3` or something alike unless the user is passing something like this "na.string = ''` to writeData/writeDataTable.

The issue is the following, I'll see if I can come up with a pull request.

[2021-11-19 22:50] JanMarvin commented on #298
fixed in #300. The following option creates the output you expect:

[code]

[2021-11-19 22:56] JanMarvin commented on #299
Thank you @zykezero! Would you be willing to create a vignette out of this? (Preferably without the tidyverse references as these might become outdated before I end this comment, looking at their development speed :smile:, though that's just me.)
We already have two other vignettes and your contribution might get lost here.

[2021-11-20 02:16] zykezero commented on #299
Haha yeah, no problem. I started putting it together and accounting for the differences but I've encountered something.

Some dataTable formulas will have have "@" prepended in such a way that excel even considers it an error.
[code]

[2021-11-20 09:57] JanMarvin commented on #299
Once you have something working, please add it to a rmarkdown file and open a pull request. If you're not familiar, just clone openxlsx via the GitHub Webinterface and push your local branch upstream.

[2021-11-20 13:28] JanMarvin commented on #285
@acobolew I've made a pull request of my own starting from your suggestions. Though it should pass the checks, additional testing is required especially with imported files containing vml imports. The approach I've chosen simply overwrites whatever is in the workbooks vml, if a comment is detected.

[2021-11-22 08:38] dkoltg commented on #296
Hi, it works again, thanks for your help.

[2021-11-22 08:51] #296 closed, assigned to JanMarvin

[2021-11-25 21:26] christianbraathen opened #303 "Corrupt file when dropdown list exists in loaded workbook"
- I loaded in an existing file as a workbook with the `loadWorkbook` command. This file consists of one sheet, and this sheet has one cell that uses a dropdown list. This dropdown list has two choices: Yes and No.
- I then added a sheet with data using `addWorksheet` and `writeData`.
- I finally saved the workbook with `saveWorkbook`.
- When I try to open this workbook, the file is corrupt.
- Atte

[2021-11-26 03:40] daattali opened #304 "read.xlsx() does not return the correct number of rows"
This could be either a bug or a feature request, depending on your view.

Suppose I have an Excel sheet with the following data:

| Row | Value |
|---|---|
| 1 | a |
| 2 | b |
| 3 | |
| 4 | |
| 5 | |
| 6 | c |

If I want to read rows 2-4, I expect to get a dataframe with 3 rows. But `read.xlsx(file, sheet, rows = 2:4, cols = 1, skipEmptyRows = FALSE)`  will return only the first row "b" because th

[2021-12-03 18:38] andresmorago opened #305 "How to justify text when horizontally alignining it ?"
**Is your feature request related to a problem? Please describe.**
I would like to be able to justify the text on the cell

**Describe the solution you'd like**
Align the text so its justified on the cell (green text)
![image](https://user-images.githubusercontent.com/13720514/144655214-0e34c3be-3423-468e-9255-2a2dbf10e2c3.png)

**Describe alternatives you've considered**
In addition to `right`, `

[2021-12-06 20:03] JanMarvin commented on #305
Hi @andresmorago , I've added a fix in #306, will merge it with master once the CI checks are green. it was simply overlooked when adding the check. Thanks for the report.

[2021-12-06 20:16] #305 closed, assigned to nobody

[2021-12-06 20:19] #298 closed, assigned to nobody

[2021-12-06 21:13] JanMarvin commented on #304
Hi @daattali ,

you requested ~~4~~ 3 rows and the first one is always used as column name. This is documented here: https://github.com/ycphs/openxlsx/blob/1fa10d17f500863d86984f095440ab92632162ad/R/readWorkbook.R#L12

Changing this default behavior would break a lot of existing code. What you wanted is this:

[code]

I close this as invalid.

[2021-12-06 21:13] #304 closed, assigned to nobody

[2021-12-06 21:18] JanMarvin commented on #303
Hi @christianbraathen , could you please provide an example file. You can attach it to the github issue (it was already requested in the issue template you choose to ignore). Thanks

[2021-12-06 21:43] JanMarvin commented on #281
@joshuaschwab , thanks, that might indeed be a bug. For Excel all dates are numerics aside from their format. Once you set numFormat for the numbers, Excel simply gets confused. For the time being you could assign styles to cells like this:

[code]

[2021-12-07 01:58] daattali opened #307 "read.xlsx() does not return the correct number of rows"
(Duplicate of https://github.com/ycphs/openxlsx/issues/304 but it was closed prematurely and I don't have the option of commenting+reopening).

To continue from the last comment there: @JanMarvin I think you misunderstood the issue. You'll see the problem is you use `cols = 2` in your example.

You can use this test file
[test.xlsx](https://github.com/ycphs/openxlsx/files/7664847/test.xlsx)

Calli

[2021-12-07 15:42] romanzenka commented on #298
Oh I am sorry, just got this message.

Ideally this behavior is defined with the `na.string` parameter, what you did is very good. Thank you!

[2021-12-07 18:08] JanMarvin commented on #307
Okay, now - that you provide an example - I see what you mean and I agree that this behavior is unpleasant. Though I don't see an easy way to fix this cleanly. The issue is within `getCellInfo()`. This function returns the data from the worksheet, but in this case, there is no data on the worksheet and nothing is returned. We could hackishly try to pad the dataframe we are going to return, with ce

[2021-12-07 19:49] daattali commented on #307
I won't pretend to know anything about the internals/technical details so I can't suggest the right fix. But with the risk of being ignorant, I would suggest adding some sort of padding with NULL values that can happen in read.xlsx if you think it doesn't belong in getCellInfo. Or perhaps getCellInfo can gain a boolean parameter of whether or not to always return the expected dimensions or if to s

[2021-12-09 21:42] jzadra opened #308 "Feature request: ability to style header/footer"
It would be nice if there were a way to apply a style to the header or footer.  Specifically, I am trying to make the text italic (in case anyone knows of a way to do this currently).

[2021-12-09 22:11] #308 closed, assigned to nobody

[2021-12-09 22:11] jzadra commented on #308
https://github.com/awalker89/openxlsx/issues/369

[2021-12-11 21:48] namtranhoang1992 commented on #235
I think this SetPrintArea functionality is useful. I would be happy to help with researching to make this functionality. I need some pointers of how I can start though: how to I study the structure of an .xlsx file? I tried opening .xlsx with notepad, to no avail.
I know R, VBA, and basic C++. I can try to read codes of various programming languages.

At work, since my bosses only use .xlsx and .p

[2021-12-11 23:13] JanMarvin commented on #235
Hi @namtranhoang1992 , you can open any xlsx file with any zip tool like 7zip or Linux utils or simply `unzip( file, exdir = ".")`. The xlsx file consists of multiple XML files.

[2021-12-13 22:03] daattali commented on #307
Another way to see the dangerous bugs this can cause:

Suppose you have this Excel data
[test.xlsx](https://github.com/ycphs/openxlsx/files/7707244/test.xlsx)

| Row | Value |
|---|---|
| 1 | |
| 2 | a |
| 3 | |

When I try to grab different sets of rows, I always get the same output, which makes it impossible for me to know what the actual data in the sheet looks like! Rows 2:3, 2:4, 3:4, 2:5 - a

[2021-12-15 20:34] JanMarvin commented on #307
I have added a pull request #309 but merely to draft the issue. With this pull request the output looks as follows. Though this draft is not ment for merging.

There are two reasons for this:
* I think we are way to late in for such a change. Even though it might be reasonable, but ~~and~~ we could break legacy code. Obviously I understand why one might have a different impression
* The way I have

[2021-12-16 10:26] daattali commented on #307
Regarding the first point: I'm also extremely conservative myself wrt to backwards compatibility/breaking changes, so I would think it's best to add a parameter and not change the default behaviour.

[2022-01-10 13:23] verena-e commented on #106
Hello,

it looks like that I'm still observing a similar issue as described above:

When I try to store the same workbook in a second xlsx file using saveWorkbook() i get the warning 'NAs introduced by coercion' in R. When I open the file, it looks empty on the first glance but actually the data is in the file but the columns are hidden in excel and can be made visible by manually unhiding them in

[2022-01-10 16:49] JanMarvin commented on #106
The issue is likely caused by some overly aggressive cleanup in `saveWorkbook()`. Though I currently don't want to look into that further. I assume `copy.file()` is no feasible workaround?

[2022-01-11 04:33] klin333 opened #312 "write formula fails when formula.tools package is loaded"
**Describe the bug**
When the formula.tools package is loaded in namespace, openxlsx writing of excel sheets that include excel formula fails. Excel complains of "we found a problem with some contents of ..."

**To Reproduce**
[code]
[works.xlsx](https://github.com/ycphs/openxlsx/files/7843714/works.xlsx)
[error.xlsx](https://github.com/ycphs/openxlsx/files/7843715/error.xlsx)

**Likely cause**

f

[2022-01-11 05:53] radiance88 opened #313 "Excel fail to open the output created from openxlsx with slicer"
**Describe the bug**
I created a simple excel file "Slicer_test.xlsx", with some random data, a pivot table and a slicer.
Nothing wrong when using R openxlsx. I simply use loadWorkbook to load it and then saveWorkbook to save it as another file.
Then when I open the new file it says 'We found a problem with some content in the file. Do you want us to try to recover".
If I click "Yes", it says "The

[2022-01-11 07:13] verena-e commented on #106
Thanks for this hint. file.copy(), together with file.rename(), is a feasible work around.

[2022-01-11 10:47] JanMarvin opened #314 "saving workbook twice causes issues with setColWidths"
Hello,

it looks like that I'm still observing a similar issue as described above:

When I try to store the same workbook in a second xlsx file using saveWorkbook() i get the warning 'NAs introduced by coercion' in R. When I open the file, it looks empty on the first glance but actually the data is in the file but the columns are hidden in excel and can be made visible by manually unhiding them in

[2022-01-11 10:48] JanMarvin commented on #106
Ah yes, typed the command from the top of my head. Sadly that is really just a workaround. We should be able to securely save the same workbook no matter how many times. I have opened a new issue from your comment. Maybe one day we'll fix it

[2022-01-11 11:05] JanMarvin commented on #313
Thanks, confirmed. In the created file `xl/workbook.xml` contains multiple entries of `extLst`. That is not supposed to happen and Excel most likely does not like that. I guess I imported that because we were losing some extLst entries, now we have them duplicated. Oh boy

[2022-01-11 11:12] JanMarvin commented on #313
A fix for now:
[code]

[2022-01-11 11:15] JanMarvin commented on #313
For some reason `openxlsx` decided, that it wants some `extLst` (most likely due to the slicer found on a sheet), though we failed to check if there are extLst elements we could merge with or even overwrite. Appending seems like the worst idea in this case as it leads to broken files for Excel. If bitten by this: they work fine with LibreOffice.

[2022-01-11 11:43] JanMarvin commented on #312
I'd say it is not really worth digging into this. Would you want to create a pull request? Maybe print an error if the package namespace is loaded or try to make it bullet proof that whatever we expect to be a formula behaves as such? Guess we someplace use `as.character()` on a formula.

[code]

[2022-01-11 14:01] jmbarbone commented on #312
I think we could try to have a `openxlsx::as.character.formula()` function which just returns the value.  Namespace conflicts would then be obvious when loading but internal functions, I believe, would still work fine.

Might actually be more of a problem with this package.  Would probably be better to use more explicit class names like `"workbookFormula"` than just `"formula"`.

[2022-01-11 14:50] JanMarvin commented on #312
Like I've said, I don't really see why we should deal with the shenanigans of some other package modifying established base classes, but if there's some simple way to handle this, I'm not vetoing changes and it looks like you're already on it 😃

[2022-01-11 15:06] klin333 commented on #312
actually i would really recommend against adding as.character.formula() function to this package. because as JanMarvin said, it's not good to modify established base classes. formula is a very common base class. adding a as.character.formula function would cause many hard-to-find bugs in user land.

The fact that formula.tools package had this as.character.formula function caused me so many bugs,

[2022-01-11 15:48] jmbarbone commented on #312
`openxlsx::as.character.formula(x)` simply returns ~`x`~ `as.character.default(x)`.  There's no _other_ modification done that wouldn't also be done without the method, and `as.character.formula()`, as far as I can tell, doesn't exist anywhere else.  By exporting it will make conflicts explicit and easier to debug.

[code]

<sup>Created on 2022-01-11 by the [reprex package](https://reprex.tidyvers

[2022-01-11 15:50] jmbarbone opened #317 "Use class `workbookFormula` rather than `formula`"
Related to #312

It would be better to use a class that does not have an existing conflict with base R classes.

[code]

<sup>Created on 2022-01-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-01-11 17:44] JanMarvin commented on #312
Can we make it simply internal? Otherwise I fear that it's a lot of noise just for one of the many thousands of packages and even more, one I haven't heard of before today? @jmbarbone  Doesn't this depend on the order of package loading? Appreciate your efforts as always!
Edit: Maybe someone with more experience with the package and its implications (looking at you @klin333) should talk to the ups

[2022-01-11 20:06] jmbarbone commented on #312
@JanMarvin if it's internal it won't have the warn conflicts, I believe.

`formula` class are `language` and dealt with in `as.character()` in internal methods.  I'm not sure #315 is correct with the comparisons.

The more I look I this the more I think the PR #315 should be abandoned and we should see if using `workbookFormula` is feasible (#317).

[2022-01-11 21:43] klin333 commented on #312
@JanMarvin, I don't think the blame can be placed on formula.tools. It intentionally tries to alter the behaviour of the generic as.character() when applied to the usual base R 'formula' class (things like y ~ x1 + x2). This is probably a deficiency of the clunky object oriented model in R. Still, i didn't like it, so i simply stopped using formula.tools as there's just no way the package will cha

[2022-01-14 15:17] Skepe opened #318 "fillMergedCells fails in NamedRegions"
Dear ycphs,

This is the requested issue transfer from [https://github.com/awalker89/openxlsx/issues/530](https://github.com/awalker89/openxlsx/issues/530). As described there as well it might be related to another open issue [openxlsx/issues/499](https://github.com/awalker89/openxlsx/issues/499).
Thank you for maintaining this package! Sorry for the delay... :-)

## Expected Behavior
I created a

[2022-01-15 02:13] #88 closed, assigned to nobody

[2022-01-17 21:37] arp3ggio commented on #314
I'm having the same issue. Any help would be appreciated.

Below I've fixed a missing parentheses in the mini example from @JanMarvin:

    data(iris)
    head(iris)

    wb.test <- createWorkbook()

    addWorksheet(wb.test, "Iris", zoom = 80)
    writeDataTable(wb.test, "Iris", iris)
    setColWidths(wb.test, "Iris", cols = c(1:ncol(iris)), widths = "auto")

    saveWorkbook(wb.test,
      file

[2022-01-17 22:17] JanMarvin commented on #314
Hi @arp3ggio , it's not my example, I've simply covered a comment into an issue. You could copy the file you've correctly exported via copy.file or by calling setColWidths again, prior to the export. Or dig into the code, why saveWorkbook or wb$saveWorkbook erase or modify the col attribute of the worksheet. Obviously it should not happen, but somewhere it does 😞

[2022-01-17 22:36] arp3ggio commented on #314
Thanks for the follow up. After my comment and continuing to research, I did notice it wasn't your example.

Re: calling `setColWidths` again, I don't believe that works. Modified example:

    data(iris)
    head(iris)

    wb.test <- createWorkbook()

    addWorksheet(wb.test, "Iris", zoom = 80)
    writeDataTable(wb.test, "Iris", iris)
    setColWidths(wb.test, "Iris", cols = c(1:ncol(iris)), w

[2022-01-17 22:44] arp3ggio commented on #314
I did take a look at the code of the `saveWorkbook` function:

    function(wb, file, overwrite = FALSE, returnValue = FALSE) {
      op <- get_set_options()
      on.exit(options(op), add = TRUE)
      if (!"Workbook" %in% class(wb)) {
        stop("First argument must be a Workbook.")
      }
      if (!is.logical(overwrite)) {
        overwrite <- FALSE
      }
      if (!is.logical(returnValue

[2022-01-17 22:45] arp3ggio commented on #314
I'm running `openxlsx` version `4.2.5`.

[2022-01-18 11:19] deschen1 opened #319 "feature request: allow "format painter" functionality"
I often have use cases where I write data to an existing workbook/worksheet in new columns (e.g. assume a new month of data when I already have Jan-Aug or sth. like that and now want to add Sep).

Usually, these worksheets contain some formatting. Some in the sense of that it would not be feasible to create Styles manually and then apply to the new data/column.

So instead, it would be great if th

[2022-01-18 12:48] JanMarvin commented on #319
It's already in development for a future release 🤫

[2022-01-18 13:27] deschen1 commented on #319
oh that's great to hear. You probably don't want to set expectations by sharing some sort of roadmap/timings? But I would of course be curious if we are talking about Q1 2022 or end of year or "whenever I feel like it".

[2022-01-18 18:05] JanMarvin commented on #319
I'd say first half of 2022, but as volunteers we are not on anyone's payroll: So it depends :smiley:

[2022-01-18 18:09] #179 closed, assigned to nobody

[2022-01-22 20:31] christianbraathen commented on #303
Hi! Sorry for the late reply here. I discovered the solution, so I'll just give it to you outright. If you still want me to modify by filling out the template and providing an example file, just let me know.

- I'm using Excel for Mac Version 16.54 (21101001)
- When I try to produce a dropdown (or also a formula, I discovered today), it produces a corrupt file when I try to open it in Excel for Ma

[2022-01-22 21:45] JanMarvin commented on #303
Great that you found a solution! I merely requested an R example, some code to understand what you did or want to achieve. Something minimal like
[code]
Right now I simply got that you have an issue an found a solution. But no worries, if you've solved the issue you can simply close the issue.

[2022-01-22 21:48] #303 closed, assigned to nobody

[2022-01-23 08:22] christianbraathen commented on #303
I realize now that the error was actually something quite different. It is simply that all formulas must follow the syntax of using commas as argument separators. So there is no need to use the sheet references unless the data occurs in other sheets. Demonstrated within the sheet `Bar`:

- `INDEX(Foo!A:A; MATCH(Bar!$A$1; Foo!B:B; 0))` fails because of semicolon-separated arguments.
- `INDEX(Foo!A:

[2022-01-23 08:33] christianbraathen commented on #303
PR here: #322

[2022-01-29 01:59] #81 closed, assigned to nobody

[2022-02-01 10:49] xIncubakerx opened #323 "Excel output has non-standard column widths"
When you create an excel spreadsheet using this package, the excel spreadsheet that is output has a column width of 10.71 rather than the excel standard of 8.43. The following code creates a basic example of this with an empty spreadsheet.
[code]

I would expect the default column width to be 8.43 in the excel output, as this is the standard excel column width. Indeed, ```setColWidths``` suggests

[2022-02-01 11:09] deschen1 commented on #323
I can confirm the issue.

[2022-02-01 11:46] JanMarvin commented on #323
Interesting. I checked the value a few days ago and had the impression that 10.71 was the default, but was tricked by openxlsx :-)
Should be a simple fix

[2022-02-02 12:57] jayieh opened #324 "Contitional formating on selected rows"
[code]

I was trying to use conditional formatting only on a selected number of discontinuous columns with openxlsx 4.2.5.

As you can see in the code above, I'd like to use a grep and only apply the formatting on columns carrying names matching a certain pattern - col 1, 2 and 4 - in this example.

When opening the xlsx file, the formatting is applied on all columns 1-4.

Is it possible to create

[2022-02-02 17:31] amanda-hi opened #325 "type = 'blanks' option not available for conditionalFormatting()"
I'm looking at the docs for the `conditionalFormatting()` function (https://ycphs.github.io/openxlsx/reference/conditionalFormatting.html), and it states that `type = "blanks"` and `type = "noBlanks"` are valid options for the `type` parameter. See the excerpt below:

[code]

However, when I try to use the `type = "blanks"` argument, I get the following error message:

[code]

This contradicts the

[2022-02-02 17:46] amanda-hi commented on #325
I downloaded the development version of the package from Github, and the issue was fixed. I can now use the "blanks" argument. Maybe it should be specified in the docs that this is not available in the CRAN 4.2.5 version?

[2022-02-02 18:12] JanMarvin commented on #325
Yeah sorry, because of this I wanted to bundle pending changes in the development branch, but forgot about it and it was nowhere mentioned outside my head. Guess it's not really a huge problem, more or less an inconvenience. If you have a good idea how to mention this, please feel free to open a pull request.

[2022-02-02 22:57] JanMarvin commented on #323
Unfortunately the latter didn't prove to be true. It's not a simple fix or at least not as simple as I'd hoped.

Here the initial colwidth is set:
https://github.com/ycphs/openxlsx/blob/110fb4fec0a461a2367dabf8f2c5f203b99f977d/R/worksheet_class.R#L70

But here
https://github.com/ycphs/openxlsx/blob/110fb4fec0a461a2367dabf8f2c5f203b99f977d/R/workbook_column_widths.R#L21
here
https://github.com/ycph

[2022-02-03 08:18] deschen1 commented on #323
Is there a reason why the base column width is defined as 10 (or 8 for that matter) and then 0.71 is added at different places (not that it would solve the problem at hand)? Wouldn't it be more straightforward to directly define 8.43 as default width? (I'm obviously not deep enough into the code, so sorry if I probably miss some important reasons).

[2022-02-03 08:25] xIncubakerx commented on #323
I'm guessing that `baseColWidth` has to be an integer? I had the same thought as deschen, it seems odd that there is a base width that has to be modified at a later stage. But if it doesn't have to be an integer and for whatever reason we have to keep adding on the 0.71 later, I wonder if you could see the base width to 7.72 and get there through slightly dodgy means 🤣

[2022-02-03 08:27] JanMarvin commented on #323
The reason is: it's a quite complex spaghetti code 😉
Tbh I have no clue. Might be due to some interaction with calculate column widths or load workbook.
[Edit:] if you want to help figuring it out, be my guest. It's one of the many "seems like a simple fix and waste countless hours fixing something unimportant" issues. I tried, I failed, I invest my time elsewhere.

[2022-02-03 09:19] xIncubakerx commented on #323
I probably don't have a strong enough coding background to fix this one either unfortunately 😢

[2022-02-03 09:52] deschen1 commented on #323
Yea, same here. I have some basic understanding of what I'm doing in R, but finding the bug in the package is beyond my paygrade, I'm afraid. However, I scanned through the code and found another one where a width of 9.15 is set. NOt sure, though if that's causng the issue:

https://github.com/ycphs/openxlsx/blob/110fb4fec0a461a2367dabf8f2c5f203b99f977d/R/workbook_column_widths.R#L136

There's als

[2022-02-03 09:57] JanMarvin commented on #323
ah thanks, at least that gives another hint. I'll look into that over the weekend. If you want to, clone the package, open the project in Rstudio. do some changes and hit "install and restart", wait a moment and run the tests to see if it works. Nobody was born a coder and we all started sometime with a minor change (and we're here to help; within limited range ofc)

[2022-02-03 16:56] deschen1 commented on #323
OK, I'm completely confused now. So I did download the package and tried to find whereelse teh column width is set. I found a few more instances where I only see the `0.71` parts, also in some of the C++ files.

Then I stumbled upon one thing in the `wrappers.R` file (lines 1277ff.) where I actually do see a 8.43, but nowhere else. In that area, there's some re-calculation with pixels - I don't un

[2022-02-05 16:10] JanMarvin commented on #323
Thanks @deschen1 , I'll look into it sometime soon. We are doing something wrong here, but at least we are doing it wrong for a long time and nobody complained. Consistency is key. It's just low priority, because there are more important things to fix and apparently it's not a simple fix

[2022-02-06 13:27] JanMarvin commented on #324
Hi @jayieh (and greetings to Münster), the issue is that the conditional format is applied to the entire range of cells. We simply pick min and max column.

https://github.com/ycphs/openxlsx/blob/110fb4fec0a461a2367dabf8f2c5f203b99f977d/R/conditional_formatting.R#L697-L698

This results to the observed behavior

[code]

You can circumvent this using the following

[code]

I'm not sure that such be

[2022-02-07 08:29] xIncubakerx commented on #323
I can appreciate that this is a lower priority fix, but thanks for looking into it anyway @JanMarvin. Found this post from a year and a half ago, which might be useful, but I'm not really too sure what is going on (I'm pretty new to R in general).
https://github.com/ycphs/openxlsx/pull/91

[2022-02-08 09:20] jayieh commented on #324
Hi @JanMarvin ,

thanks for your reply.

Your suggested code only partially adresses the issue: I'd like to have the same CF applying to all columns (1, 2 and 4 in the example).

This fix does the job for me now, by modifiying the conditionalFormatting after it was created by the function:

[code]

This is a quite common use case for me. So I'd be happy to see a "discontinuous" conditional formati

[2022-02-08 09:20] #324 closed, assigned to nobody

[2022-02-09 16:27] klar-C opened #326 "Convert a range to a number"
Hi -

I put this under bug because it is not really a feature request.

Is there any way to convert a range to a number in Excel?

Use case is that I have a long data frame which has certain rows with text - the other rows are numbers (stored as character). When writing the dataframe to Excel the numbers get interpreted as text and I need to convert them back within Excel. A solution would be to w

[2022-02-09 17:04] JanMarvin commented on #326
Hi @klar-C , I assume a minimal example would be this? (You were asked to provide one ...)

[code]

In this case: that is no bug, you tell `openxlsx` that the input is of type character and it is written as such. Silently changing the input type would be a bug. You can change the column type to numeric or integer and in such case it will be written as number to the xlsx output.

[2022-02-09 17:09] klar-C commented on #326
An example would be like this:

`
x <- data.frame(x=c('1','text','2','3','text','4'))
`

The column x has both numbers and text in character format. When writing it to Excel the numbers are interpreted as text by Excel. What I want is to let Excel know that those are really numbers. I could write the dataframe in pieces but that's way slower for large dataframes.

Agreed it isn't really a bug but

[2022-02-09 17:21] JanMarvin commented on #326
But they are already characters in R? You would have to convert them to numeric when writing? I mean, ofc it would be possible to  implement a function that does the check prior to writing (Check if identical after `as.character(as.numeric())` round trip, then write it as number), after all it does not matter to xlsx, but … well I'm not gonna do that for you :-)

[2022-02-09 17:31] klar-C commented on #326
Yes they are characters in R.

The problem is that I have a large df with groups of rows that need "separators" (or headers for each section). The headers are text.

e.g.
Header1
1
2
Header2
3

I tried the following but it is just way too slow:
Write the df (with NA_dbl as separators in between the sections) and then create a loop to write each header section separately on top of the empty rows.

[2022-02-09 17:42] JanMarvin commented on #326
Well, as always, it depends. I would try to keep them separate in R. For exampe in a report where you have annual numbers in the top (header1, 1 and 2) and monthly numbers in the bottom (header2, 3): Keep them as separate dataframes, with numbers as values. Then write rows 1:3 and later rows 5:6.
For me, the process that generated the character data is faulty. Not the process that writes the data

[2022-02-09 17:49] klar-C commented on #326
Totally agreed - it isn't clean. And they are separate initially. I'm actually putting them together because writing them separately is much slower. Across ~15K rows I have maybe 160 group rows - and writing them adds probably 1 minute on both the initial loop for writedata and then also on savexlsx. So just trying to play around to cut this time out.

[2022-02-09 18:34] JanMarvin commented on #326
Haha 15k rows, oh boy :see_no_evil: (gosh, rows, I read columns for whatever reason)

I assume that simply takes time. I mean you are writing to xml and there are still a lot of conversions from R to xml.
* When writing the groups, `openxlsx` will recreate xml entries like this: `<col min=\"... />` for each column (and possibly will do checks prior to this).
* When writing the other entries, for e

[2022-02-09 18:51] JanMarvin commented on #326
Just to be clear, 15k rows should be no problem at all. I was just thinking about 15k columns and how one would handle such a file later on in Excel.
Can you provide some timings and dimensions? Like what are we talking about? Is it taking awfully long or is it just "i can go and grab a coffee and I want it to be done once I hit the button" long?

[2022-02-09 21:25] klar-C commented on #326
It is around 60 columns and as said ~15K rows.
What I did now was to create one large df (with intermediate NAs-rows) and then I fill in the section headers separately in case the underlying column is numeric). Then I apply the formatting (I keep track of all distinct formats) as one additional step.
The R part is around 15-30 seconds - that's totally cool. Saving down the Excel file however takes

[2022-02-09 22:20] JanMarvin commented on #326
There are definitely performance problems. For example, one problem is that the workbook is not yet finalized when you hit saveWorkbook. There are a number of cleanup functions called, and writing the xml files takes some time as well. I'll look into this, but mostly out of curiosity, I have no intention of speeding up this writer. Use the time you are writing to pause and rest :-)

[2022-02-10 05:13] badgettrg opened #327 "databarExample.xlsx example compiles, but cannot be opened"
I copy the code from the conditionalFormattingExample.xlsx example at https://ycphs.github.io/openxlsx/reference/conditionalFormatting.html into R studio. The code, even after deleting the lines involving blank characters that have the known bug, the resulting xlsx cannot be opened by xsl which stated "We found a problem with some content..."

My specific question is about: **highlight cells in co

[2022-02-10 17:32] klar-C commented on #326
Will do :). I'll post more performance numbers in case I come across other bottlenecks.

Awesome package!

[2022-02-12 02:10] #138 closed, assigned to nobody

[2022-02-14 15:37] klar-C commented on #178
Hi - is there an approximate time-line? Or maybe a workaround?

[2022-02-18 05:06] michael-m52 opened #329 "Headers and Footers: NA to skip position comes out as string literal "NA" in actual Header/Footer"
**Describe the bug**
This bug first appears in 4.2.4 and is still in 4.2.5
NA is specified in the documentation as "skip position", but it is actually being sent to the document as string literal "NA"
The bug happens when adding headers and footers using addWorksheet.
It does not occur when adding headers and footers using setHeaderFooter.

**To Reproduce**
1. Open the latest document https://cran

[2022-02-19 21:04] JanMarvin commented on #326
I just wanted to let you know that I have been playing around with a new version and the save time has improved dramatically. Below is the time difference for a dummy dataset (15,000 x 60) with 15 groups, each containing 1000 rows, from creation to final output. However, the program is still under development and there is no release schedule yet.
[code]

[2022-02-23 00:34] kainhofer opened #330 "writeData with a date messes up existing cell styles (numFmt)"
**Describe the bug**
I have an excel file with several cells with custom number format ("+0;-0;0").

Loading and saving that workbook with openxlsx works fine. However, as soon as writeData with a date object is used to insert a date anywhere in the file, the cells with the custom number format are turned into date cells. (See the screenshots below).

Digging deeper into the XML, the reason is tha

[2022-02-23 07:01] JanMarvin commented on #330
Hi @kainhofer , thanks for the report and the digging. I've previously stumbled over this hard coded 165 myself. I circumvented this in my local code and can post my patch later. However, it's not something that fixes the core issue (was to lazy to do so).
Edit: a gosh, you've already have added a pull request. That's even better!

[2022-02-26 02:03] #142 closed, assigned to nobody

[2022-02-28 06:11] michael-m52 opened #332 "createWorkbook "Created" date is offset by timezone difference"
**Describe the bug**
The "Created" date and time that appears in the Info section is out by the timezone offset. It is 5pm here now, when I ran the code, screenshot is showing "4am tomorrow"

It appears that createWorkbook creates coreProperties > dcterms:created with local time, but Excel is expecting UTC

**To Reproduce**
[code]

Output of wb$core

`<coreProperties xmlns=\"http://schemas.openxml

[2022-02-28 19:42] ProfFancyPants commented on #288
I have an additional file doing the exact same thing. Would you like me to upload a minimum example for experimental purposes?

[2022-02-28 20:07] JanMarvin commented on #288
Hi @ProfFancyPants , I assume that we understand fairly well what is going on, the question is more or less, why does it happen. I have pushed a fix to the development branch. Please see if this fixes your issue. Though I assume it is only partially right, it should fix the issue, but it is a hack - solving and hiding a problem that should be fixed somewhere else.

[2022-03-01 04:18] ProfFancyPants commented on #288
I checked it with the development branch and the issue still remains exactly as before. I was able to get the reader to do some additional interesting things when I deleted choice cells in the date column where it was loading but actually removing values in other columns.  If the bulk of this issue isn't in Apache I could help you take a look.  What is so bafilling is that doing a complete copy va

[2022-03-01 07:15] JanMarvin commented on #288
I don't understand what Apache has to do with this issue. When I looked into the issue I've attempted to fix, we expected a string like "2022-03-01", but somehow still had a 7 character wide numeric like "11111.1". Therefore when looking for the part "-01" we fail and the error is thrown. Substring beginning at 8 requested, but only 7 characters provided.
My fix checked for the numeric and initiat

[2022-03-01 18:45] ProfFancyPants commented on #288
I think the issue might be deeper and is related to how excel is saving the .XML files internally.  In my test file, two end-user identical sheets down to the simplest reproducible example. By "end-user identical" I mean identical as far as it concerns someone using excel and using everything physically to make the two sheets identical.  Divergence in the .XML files is between column and row style

[2022-03-01 19:05] JanMarvin commented on #288
Sorry, but I don't really get your point. The styles are from styles.xml, some in the `<xf.../>` and some custom formats are in `<numfmt ...>`. `openxlsx` creates styleObjects when loading and saving. Therefore our style IDs must not match those of Excel. The question to solve in this issue is: why is `openxlsx` currently identifying some cells as dates and why aren't they prepared correctly. Some

[2022-03-07 15:39] finalspy opened #333 "Files should be written according to default ACLs"
Expected Behavior

Files should be written using the system acls
Actual Behavior

For example it works properly with writexl package,
But it doesn't using openxlsx.
Need to set Sys.umask("0007") in .Rprofile in my case to have proper acls
Steps to Reproduce the Problem

(please attach an example xlsx file if possible)

    Mount an NFS directory with specific acls

    Make a script to write an xl

[2022-03-07 19:50] JanMarvin commented on #333
I've been a linux user for 15-16 years now, but haven't come across NFS. I assume there is no simple way for us to test this. Nor - to be honest - do I have any clue how we could. Since we do not write files ourself, but instead write to some temporary directory which is zipped afterwards, could you check if the same thing happens with the `zip` package? (We use it to create the xlsx output.)

htt

[2022-03-08 11:19] finalspy commented on #333
I've been able to make new tests on basic filesystem, not on NFS mounted directories, I simply created a folder where my user can write on the FS outside the NFS mounts.

The file is still written with `rw-------` rights with **openxlsx** but `rw-rw----` with **writexl**.

So this is not linked to NFS mount as far as I understand it.

Moreover I tested to write a zip file as you suggested using zi

[2022-03-08 15:15] JanMarvin commented on #333
Cannot reproduce on both of my Arch system. Maybe you're system inherits the access rights from `/tmp`?

[code]

[2022-03-08 17:01] finalspy commented on #333
Does your target folder has special ACLs ?
Mine are set like this  in shell :
[code]

where

- `target_folder` is where I want to write,
- `my_user` is my user
- `ssh_user` is another user that should have rights on the folder through acls
- `admin_group` is a group that should be able to access the folder

my system umask is set to 0077 but this should not interfere according to the default ACLs

[2022-03-08 17:27] JanMarvin commented on #333
No I don't, I'm sorry but if you want me to research this, please create a simple example. Your code does not work for me and after a busy day I can't say that I'm in the mood to research why ;-)

[code]

If the issue persists, you can wrap the `saveWorkbook()` function and a call to `chmod`. Not beautiful, but better than nothing.

[code]

[2022-03-09 06:28] michael-m52 opened #334 "loadWorkbook does not retain Headers and Footers that have "escape code" formatting"
**Describe the bug**
1) There is an open feature request on another branch to be able to format Headers and Footers:
https://github.com/awalker89/openxlsx/issues/369
2) A user has suggested a workaround using "escape codes":
https://github.com/awalker89/openxlsx/issues/369#issuecomment-486487602
3) The Microsoft documentation for using "escape code" formatting of headers and footers:
[Formatting a

[2022-03-09 07:32] JanMarvin commented on #334
Hi @michael-m52 , thanks for the report. I assume that this will be tricky if this is caused by our XML parser. I'll try to look into this

[2022-03-09 09:15] finalspy commented on #333
I have workarounds : for example setting `Sys.umask(0002)` in the `.Rprofile` for instance.
What annoys me is that the behavior is different with other packages like writexl.

I'll try to find some times to create a full example maybe with a docker file or so to have the right users /groups etc available.

[2022-03-09 10:17] JanMarvin commented on #333
Sorry, but this is a voluntary open source project. If this special behavior you desire does not work the way you want to, you could research the problem, discuss your findings, prepare a pull request and if we agree on the solution, we'd be happy to apply it. Saying "this one extra line in `.Rprofile` annoys me" isn't going to make me invest any more time in _your_ very specific issue.

Since you

[2022-03-09 12:39] finalspy commented on #333
... i'm speechless ... sorry if I irritated you that wasn't my purpose ...
I don't really understand your reaction.

Maybe my words weren't wisely choosen as i'm not fluent in english. Should I have said  "bothers me" or "bores me" instead of "annoys me" ?
What I meant was just that "it seems strange to me that openxlsx has a different beahaviour".

I don't think that not respecting special ACLs i

[2022-03-09 13:24] finalspy commented on #333
To move forward on more constructive consideration, I read the code of https://github.com/ycphs/openxlsx/blob/master/R/WorkbookClass.R
As far as I understand it (disclaimer I'm not an R nor cpp developer) the file is first created in a temporary directory (https://github.com/ycphs/openxlsx/blob/master/R/WorkbookClass.R#L563)
My guess is that the file inheritates the ACLs from this temporary direct

[2022-03-09 18:18] JanMarvin commented on #333
Hi @finalspy , sorry if I've mistakenly offended you. The problem is that people tend to see open source developers as their unpaid IT department, and your wording triggered this reaction (and even after review, I still feel that it is well-worded). In Germany we have two proverbs "der Ton macht die Musik" (translates to: the sound makes the music; meaning: it's not what you say, but how you say i

[2022-03-10 03:41] michael-m52 commented on #334
Thankyou @JanMarvin I appreciate it. I would like to contribute to fixing some of these issues, but I haven't worked out how to debug the openxlsx package from the downloaded source code using RStudio. Is there a reference for me to get started quickly?

[2022-03-10 05:17] michael-m52 opened #335 "writeFormula with HYPERLINK creates unparseable XML: read.xlsx doesn't read "Text to display" from a file created by openxlsx"
**Describe the bug**
This happens when read.xslx encounters a HYPERLINK formula.
If the xlsx being read is a normal Excel file, the corresponding cell in the data.frame has the "friendly name" imported.
If the xlsx being read was created with openxlsx, however, nothing is imported.

**To Reproduce**
This will outline how to produce 3 test files: 1. an openxslx produced file; 2. a copy of that file

[2022-03-10 06:16] JanMarvin commented on #334
Unfortunately there isn't, it is mostly digging into the source code and extracting the xlsx files, carefully inspecting them and consulting the openxml documentation if needed.

I assume that the issue is this function:
https://github.com/ycphs/openxlsx/blob/9223f05791cc139e27d158e50ea80677e9ee0d9b/R/helperFunctions.R#L906-L941

It is called here:
https://github.com/ycphs/openxlsx/blob/9223f05791

[2022-03-10 06:48] JanMarvin commented on #334
FYI I have a fix pending for an upcoming new release, but there is no ETA yet other than 2022h1. Maybe it can be backported like this (untested, just typed it into the github reply field):

[code]

[2022-03-10 13:18] finalspy commented on #333
To clarify and make a reproducible example I've setup this quick [project](https://github.com/finalspy/openxlsx333), the [docker image](https://hub.docker.com/repository/docker/finalspy/openxlsx333) is also publicly available.

I'll use this above project/images to test and try to find a way to get around this issue.

[2022-03-10 16:51] JanMarvin commented on #334
I've pushed my idea to the development branch. Please have a look if this solves your issue. Headers and Footers are of minor interest to me, I can not remember ever using them or the last time I printed something from Excel, therefore testing this would be very welcome :)

[2022-03-10 17:20] JanMarvin commented on #332
This should be fixed in development as well. Please let me know if it works as intended :)

[2022-03-11 19:00] JanMarvin commented on #335
Hello @michael-m52 , thanks for the example. I can confirm the problem. Actually there are two issues, one of which I have fixed and the other I probably won't fix. The fixable thing: Our hyperlink creation was incorrect. This has been fixed. The other problem should be fixable, but I'm not going to try to do it.

The problem is related to https://github.com/ycphs/openxlsx/issues/188. The hyperlin

[2022-03-11 19:10] JanMarvin commented on #335
Just realised, there might be a rather simple way. Somehow `openxlsx` reads the names from the hyperlink class object and uses this as v tag. We could simply use this in makeHyperlinkString. It should be rather straight forward, let me know if you want to give it a shot.

[2022-03-14 16:04] deschen1 opened #337 "Deleting the only sheet from a Workbook and creating it again, corrupts the Excel file"
Note, the below does not return an error when the WB is created through `createWorkbook`, but in the follwoing way:

1. Open Excel and add some data to it manually. In my example I copied over the mtcars content to the file manually. I named the sheet `invalid`.
2. Save the Excel file, in my case "test.xlsx".
3. Then run the following code in R:
[code]

When trying to open the Excel file on Window

[2022-03-15 11:29] jasongu809 opened #338 "read.xlsx namedRegion field"
When using a named region with a "." in the name, read.xlsx outputs an error that "Workbook has no such named region".

For example using the test file attached

read.xlsx("test file.xlsx", namedRegion = "testregion")

vs.

read.xlsx("test file.xlsx", namedRegion = "test.region")

[test file.xlsx](https://github.com/ycphs/openxlsx/files/8252715/test.file.xlsx)

[2022-03-15 21:50] michael-m52 commented on #335
Hi @JanMarvin, thanks so much for you efforts. So your suggestion means that we would pass the display text into the hyperlink class object as "name" when creating it with makeHyperlinkString? That sounds feasible. If it's not too much trouble, this is worth a shot.

Otherwise, with your 1st fix in place, would read.xlsx just display the hyperlink formula? (i.e. the f tag)

[2022-03-15 22:02] michael-m52 commented on #334
Thanks again @JanMarvin, I will test the development branch to see if this works now.

[2022-03-15 22:09] michael-m52 commented on #335
Hi @JanMarvin, on further reflection, I am wondering what the Excel application does to those hyperlinks when you "Save A Copy", because after this step, the hyperlinks are perfectly readable by read.xlsx. This implies that (1) the original workbook saved by openxlsx has all the necessary info already (2) "Save A Copy" seems to make the hyperlink compliant (3) read.xlsx is then capable of reading

[2022-03-15 22:54] JanMarvin commented on #335
Haha, sorry, I was just trying to push you into development. If you want to, you could give it a try. Sorry, I'm busy with other things at the moment and like I've said, we have similar well known (wontfix) issues with every other formula in the workbook. The single case where it behaves differently, was just the exception to the rule.

Unfortunately it wont. There is ongoing development behind th

[2022-03-15 23:09] michael-m52 commented on #335
Thanks @JanMarvin I understand these are not high priority issues and I'll try fixing some things myself. I'm not confident with GitHub but I'll attempt a pull request if I am happy with my bug fix.

[2022-03-15 23:49] JanMarvin commented on #335
To answer your question, it's late at night so I'll do it quick: In the hyperlink case Excel takes parts of the formula and makes this the value. If you look at https://github.com/ycphs/openxlsx/issues/335#issuecomment-1065402201 this is how Excel evaluates the hyperlink. When the file is written by `opexlsx`, there is no `<v>` node. We write only the `<f>` node. Excel creates the `<v>` node after

[2022-03-16 00:52] michael-m52 commented on #335
Thanks @JanMarvin

Is there a way to create an internal hyperlink using openxlsx without using the HYPERLINK formula?

In VBA it would look like this:
ActiveSheet.Hyperlinks.Add Anchor:=Selection, Address:="", SubAddress:= "Sheet2!A1", TextToDisplay:="First cell of sheet 2"

[2022-03-16 07:53] JanMarvin commented on #335
There are multiple examples in the hyperlink help page for various links. You could simply write it out with writeFormula.

[2022-03-16 15:56] malte610 commented on #334
First of all, thank you for your efforts here! I highly appreciate everyones work on this package.

When I tested it, it unfortunately didn't work for me.

When I put text or a logo in the header I receive on saving the following error:

"Error in x$oddHeader[[2]] : subscript out of bounds"

When I have an empty header and only text in the footer, the text in the footer is lost on saving.

This is

[2022-03-16 16:21] JanMarvin commented on #334
I guess that I can speak for everyone on the whole internet: this is an invitation to judge your work, @malte610  😄

The issue is, that my fix was not sufficient. You only have center and right. Unfortunately I did not check this and assumed that Excel will always provide three fields.

[code]
No clue why the image starts floating, might require further debugging. Though first the split function s

[2022-03-16 19:05] malte610 commented on #334
damn. I didn't think this through..
Go ahead, judge me all you want, it only hurts a tiny bit 😥😅

I wish I could help you with this, but my knowledge of the insides of xlsx files is very limited.
Let me know if I can contribute here.

[2022-03-16 19:09] JanMarvin commented on #334
I've fixed the `amp_split` function in `development`. Now looking into the image part. I assume it's caused by us picking up an image and simply assigning it to the sheet

[2022-03-16 23:50] michael-m52 commented on #335
Thankyou, I have a workaround now that uses writeData instead.

[2022-03-17 03:59] michael-m52 commented on #332
This works perfectly in the development branch

[2022-03-17 05:31] michael-m52 commented on #334
Hi @JanMarvin

Once again, I really appreciate your efforts.  If I could get the hang of GitHub I'd contribute myself so I'm so happy that somebody else is doing this.

Your latest change fixes the original bug here, 100%. It does however create another issue. In my test case above, please substitute the first 8 lines with this:

[code]
The zero-length string in the firstHeader and firstFooter cre

[2022-03-17 08:03] JanMarvin commented on #335
Glad that you've got something working! The issue will remain open until we merge development with master

[2022-03-17 08:06] JanMarvin commented on #334
hmpf, there's always another case you don't plan for. Thanks for reporting!

[2022-03-17 08:07] JanMarvin commented on #332
Thanks for testing and glad that we've fixed it

[2022-03-19 02:16] #143 closed, assigned to nobody

[2022-03-19 02:16] #140 closed, assigned to nobody

[2022-03-19 02:16] #137 closed, assigned to nobody

[2022-03-19 02:16] #119 closed, assigned to nobody

[2022-03-22 23:00] jilliant commented on #299
Thanks for this @zykezero, 🥇 this example is really helpful

[2022-03-29 08:36] finalspy commented on #333
Hi @JanMarvin sorry to bother you, but do you know how the releases are scheduled ?
Will we have a 4.2.6 or 4.3 ... relatively soon ? If no or you don't know it's fine for me.
(and yes I know I can build my self etc. but the people using the lib prefers to rely on an "official" release and asked me when it will be available so I'll let them know official answer and give them the opportunity to cho

[2022-03-29 09:01] JanMarvin commented on #333
Sorry, no clue. Only @ycphs can answer this, I'm just a contributor here myself. There are a few commits in development already, but I doubt anyone is actively testing them. You could ship internal development builds with drat for instance if you need binaries earlier? (Not sure about the r-universe, @ycphs has set up for the repo. Maybe they ship branches as well. Might be worth looking into.)

[2022-04-02 18:12] JanMarvin commented on #77
Took me a little while, but I assume that everything is fine on our end (or well ... at least it is now if it was broken previously). If I change the format I get the correct results. So just add a few `#` and spaces and you should be good (I've added `openxlsx::` because I was working in a messy workspace):

[code]
<img width="575" alt="Screenshot 2022-04-02 at 20 08 41" src="https://user-images.

[2022-04-02 18:12] #77 closed, assigned to nobody

[2022-04-04 14:58] evelinedurom opened #339 "WriteData() and WriteDataTable() is not working in Linux environment for reactive values"
When trying to download an excel from a shiny app the WriteData and WriteDataTable was throwing errors in the linux environment for reactive values. The code was working fine in the windows but when shifted to linux it started to give the following error message.

[code]
When tried with a non-reactive value the excel was downloaded successfully. Also the write.xlsx function works fine in both the

[2022-04-04 15:25] JanMarvin commented on #339
Hi @evelinedurom , unless you can provide a minimal working example I don't think we can help you with your issue. Our code is tested on Windows, Mac and Linux. Maybe you have different R or package versions running or you have some unrelated bug in your shiny code.

[2022-04-05 07:01] evelinedurom commented on #339
Hi @JanMarvin ,
After spending some time , I think I was  able to identify the issue. In the reactive dataframe, I was using to create the excel, one of the columns was present as a column containing vector elements. On converting the vectors to string I was able to successfully download the excel in the Linux environment. In the Windows environment this particular column did not cause any issues.

[2022-04-05 07:20] JanMarvin commented on #339
Glad that you have got it figured out. I close this here

[2022-04-05 07:20] #339 closed, assigned to nobody

[2022-04-05 19:52] klar-C commented on #326
Okay thank you.

[2022-04-05 19:53] klar-C commented on #230
Hi - I wanted to follow up on this one.

Is there maybe a way to hack it? Any direction would be helpful. I could try to use the reticulate/python route but that comes with other headaches. Hence would be awesome to get some pointers as to how to code it.

[2022-04-05 22:36] JanMarvin commented on #230
Changing the first two is simple, that is just some xml `<outlinePr showOutlineSymbols="1" summaryBelow="false" summaryRight="false" />`. It wont add subtotals, it simply changes the direction of the last cell. If you want Excel to show dynamic subtotals, you could add them the same way Excel does and with formula `SUBTOTAL()`. For the styles I don't know, I don't even know what this is supposed t

[2022-04-05 22:41] JanMarvin commented on #230
The outlinePr XML goes to `wb$worksheets[[sheet]]$sheetPr` it should be applied when saving. It's a per sheet definition therefore it must be applied to all sheets where it is desired.

[2022-04-05 22:48] klar-C commented on #230
Okay thanks. Apologies for not being exact in my question. I was actually talking about the first two options as well - I've never used the third one in the screenshot either.

I will try this out. Thanks so much!

[2022-04-05 22:55] JanMarvin commented on #230
No worries, it's just that we could have solved this a lot faster if you would have provided the requested steps to reproduce your issue. Let me know if this works, I've tested it, but not with `openxlsx` tbh. The help pages are a bit short on examples and tonight I wasn't in the mood to figure out how to create groupings ;)

[2022-04-08 17:20] wphampton opened #340 "protectWorkbook & protectWorksheet do not work"
**Describe the bug**
Code runs successfully but it is not password protected, and can open the file directly

**To Reproduce**
[code]

**Expected behavior**
protectWorkbook() is supposed to add password protection when trying to open Excel

**Additional context**
This was originally posted at old repo: https://github.com/awalker89/openxlsx/issues/525

Running current versions of R and openxlsx at

[2022-04-08 20:24] JanMarvin commented on #340
Hi @wphampton , I guess you want [protectWorksheet](https://ycphs.github.io/openxlsx/reference/protectWorksheet.html)

[code]

[2022-04-08 20:39] wphampton commented on #340
Thank you for your response @JanMarvin. Maybe I am misunderstanding this feature. If this feature is working correctly will it prompt the user for a password before _opening_ the worksheet? From the [docs](https://ycphs.github.io/openxlsx/reference/protectWorkbook.html)  I interpreted that type=1 would password protect the spreadsheet from opening altogether. Thanks! -Wes

[2022-04-08 20:40] JanMarvin commented on #340
Ah, you want the popup that the file is locked? Hm, I think that unfortunately that's not possible. It would require us to create  and open encrypted zip files, thats not possible from R at the moment (maybe it would even need special support for Excel as well).

[2022-04-08 21:00] wphampton commented on #340
Ok, I misunderstood. I was thinking this was setting the built-in MS Excel Password Protected features that Excel uses natively. Not .zip files specifically but the Excel features.

[2022-04-08 21:02] JanMarvin commented on #340
Had a quick look to confirm: Microsoft uses something that does not look like a standard encrypted zip file. Looks like some custom zip file with embedded xml (from my test file seen in a hex editor).

[code]

[2022-04-08 21:09] JanMarvin commented on #340
We only support modifications to the xml structure of the underlying xml files in the xlsx output. Our functions create xml snippets that the openxml 2.8 standard accepts. Encryption in Excel (and maybe LibreOffice) can make use of features to create encrypted (most likely zstd) compressed files.
Most likely it's not even very hard to add such features (I've added something like this for SPSS file

[2022-04-09 11:01] JanMarvin commented on #340
@wphampton I've found a way to create the file is encrypted popup:

[code]

[2022-04-09 11:05] JanMarvin commented on #340
This will open the password prompt, the user can authenticate and if successful the file is unlocked, otherwise users can open the file in read only mode. Though this is not file encryption, even without a password the user is able to read the file and can for instance use tools like `openxlsx` to remove the password asking xml entry.

[2022-04-11 13:40] wphampton commented on #340
I really appreciate your response, It sounds like this is actually a feature request then, due to my misunderstanding of what the current `protectWorkbook()` function is designed to do. I was hoping with `openxlsx` we could set the setting in Excel shown below. I'll give your method a try though, maybe I will stumble onto something. Thanks!

![image](https://user-images.githubusercontent.com/16338

[2022-04-11 15:15] JanMarvin commented on #340
Unfortunately not. I've found a single command line program claiming to be capable to read and write encrypted xlsx files. These files are similar to encrypted zip files, you can not look inside without the password. For now the best option is to create such encrypted xlsx files with Excel or Libreoffice.

[2022-04-11 21:14] tentacles-from-outer-space commented on #16
This can definitely be done in Ecel, and in fact also in openxlsx using the following code:

[code]

Double quotes are essential for this to work.

So if one had vector of values:

[code]

This could be added as an example on `dataValidation` help page.

[2022-04-11 21:25] tentacles-from-outer-space opened #342 "Warning in `dataValidation(type = "list")`"
`dataValidation(type = "list")` generates warning warning because of redundant argument to `sprintf`:

https://github.com/ycphs/openxlsx/blob/d8c8209a42b7ec58e0066ccba9ea8a748ad77f16/R/WorkbookClass.R#:~:text=data_val%20%3C%2D%20sprintf(%27%3Cx14,showInputMsg%2C%20showErrorMsg%2C%20sqref)

Instead of

[code]
should be
[code]

[2022-04-12 09:53] Alik-V opened #343 "Protect specific cells/columns from editing"
Hi, thanks for this great package!
I was looking in the documentation of `protectWorksheet` and couldn't find a way to lock only specific columns leaving the rest free to edit. For example, I have column_1 and column_2 with very rigid structure and I don't want user to be able to edit that, however the rest of the sheet should be user editable.
Essentially the kind of functionality [pictured here]

[2022-04-12 16:08] Matpli opened #344 "Error reading .xlsx Workbook has no worksheets"
I am trying to read a xlsx file but i have a error:

Error in read.xlsx.default(xlsxFile = xlsxFile, sheet = sheet, startRow = startRow,  :
  Workbook has no worksheets

If I open and save before the file i can read the file, but I need to read it without open it before, it's possible ?

I am using the version '4.2.5’

[2022-04-12 17:19] JanMarvin commented on #344
Hi @Matpli , without knowledge of the file it's impossible to say. It literally can be anything. Unless you can share it, I'm afraid there is nothing we can do.

[2022-04-12 21:36] JanMarvin commented on #343
Hi @Alik-V , the feature you are looking for is a special style with cell protection:

[code]

The man page suggests that `createStyle(locked=TRUE)` might work with a protected worksheet. Haven't tested it

[2022-04-13 08:07] Matpli commented on #344
Hello,
Thanks for your answer, the file is an output from a reader.
You can find the file enclosed

Le mar. 12 avr. 2022 à 19:19, Jan Marvin Garbuszus ***@***.***>
a écrit :

[2022-04-13 09:25] JanMarvin commented on #344
Sorry but attaching it via mail does not work. You have to drag and drop it into the comment field of this issue to upload it via GitHub.

[2022-04-13 09:34] Matpli commented on #344
[2022-04-12-11-42-36-DP_Melanges1.xlsx](https://github.com/ycphs/openxlsx/files/8480120/2022-04-12-11-42-36-DP_Melanges1.xlsx)

[2022-04-13 16:34] JanMarvin commented on #344
Thanks for sharing the file. I've looked into it but have sad news. The issue is, that whatever wrote this file, was keeping it special. Every node in the entire workbook has a namespace attribute `x:` prepended. Perfectly valid xml, but we search for the strings without "x:" like `<workbook ...>`:

Your header:
[code]

Vs our and other spreadsheet software (Excel, Libreoffice, Numbers etc.) heade

[2022-04-13 17:43] JanMarvin commented on #344
That being said, there may be alternatives. One option would be to scan all xml/vml files for namespsaces and remove them. Although this is unlikely in the package (you are probably the first person to encounter such a problem). Instead, you could construct a local wrapper to use these files.

* 1) Unzip the xlsx file to any directory: `unzip("broken_file.xlsx", exdir = "extraction_directory")`
*

[2022-04-14 14:32] Matpli commented on #344
Thanks for your explanations i will test the alternative with unzip xlsx file and replace <:x by <

[2022-04-14 22:27] user5426 opened #345 "How to shift column direction right-to-left when using openxlsx functions in R?"
Hello, author,

with thanks, Here is the question:

https://stackoverflow.com/questions/71877156/how-to-shift-column-direction-when-using-openxlsx-functions-in-r

[2022-04-16 02:35] #160 closed, assigned to nobody

[2022-04-16 02:35] #149 closed, assigned to nobody

[2022-04-16 02:35] #136 closed, assigned to nobody

[2022-04-16 02:35] #97 closed, assigned to nobody

[2022-04-16 10:57] #176 closed, assigned to nobody

[2022-04-17 12:25] JanMarvin commented on #148
The `ps` package offers a way to read the currently open xlsx file. Below attached is a snippet to read the currently open xlsx file (tested on Mac). We could improve this further grep on to lower (on Windows it's uppercase EXCEL) and support other spreadsheet software like (Libreoffice, numbers etc.). Writing back to these files won't be possible on Windows afaik, because open files are locked an

[2022-04-20 15:08] klar-C opened #346 "Charts"
Hi,

Are there any plans to include charts at one point?

Christian

[2022-04-20 18:25] JanMarvin commented on #346
Hello @klar-C , thanks for the question. The short answer is no. The long answer is a definite maybe, but not in the foreseeable future. Unless someone comes forward and submits a (well tested) pull request, afaik there is no work being done on this at the moment. I have this on my "someday I'll get around to it" list, but that list is long and right now there are other things taking up my time. I

[2022-04-20 18:25] #346 closed, assigned to nobody

[2022-04-20 18:46] JanMarvin commented on #345
Hi @user5426 ,

we do not yet provide an option to do so. You can request this setting per worksheet like this:

[code]

But please don't open issues like this. You could have easily added the entire stackoverflow question here.

[2022-04-20 18:46] #345 closed, assigned to nobody

[2022-04-23 02:42] #173 closed, assigned to nobody

[2022-04-23 02:42] #139 closed, assigned to nobody

[2022-04-23 02:42] #76 closed, assigned to nobody

[2022-04-23 02:42] #66 closed, assigned to nobody

[2022-04-23 02:42] #52 closed, assigned to nobody

[2022-04-23 15:28] JanMarvin commented on #66
Hi @Danfro , just tested it and it works as expected:

[code]

In your file there is some strange looking encoding. Not sure what caused this, but most likely it causes the broken print area in Excel. Might be some UTF-8 encoding bug from Windows and R?
[code]
This should be:
[code]

[2022-04-25 21:16] Danfro commented on #66
@JanMarvin thanks for looking into this. But that is likely part of the problem.

In my [first comment](https://github.com/ycphs/openxlsx/issues/66#issuecomment-621933186) I described that the sheet name got renamed by the openxlsx command (was `2018 übernommen` changed to `2018 Ã¼bernommen`).

So maybe the encoding does get changed somehow?

I admit, I did not had time to try that recently. I can

[2022-04-25 21:33] JanMarvin commented on #66
Oh, hehe, must have been sleeping... entirely missed it. I was under the impression that the print area was the issue, not the Umlaut. Since R 4.2 everything should be Unicode on modern windows, therefore we might have a good chance that all encoding issues will be gone in ~15-20 years when support for the last red hat release supporting R 4.1 will run out ;)

[2022-04-28 20:51] danmota83 commented on #340
I tested this code and it work for me, whereas the protectWorkbook() function doesn´t.
Shouldn´t you replace the function code for this one you sugested?

[2022-05-01 18:37] marinalaforgia opened #348 "Issues since Office update (Excel 16.6)"
I've been using openxlsx to perform weekly data merges involving reading an excel file in R, merging with new data, and then writing the new file. My code was working perfectly up until yesterday when I updated my Office suite. Now when attempting to read in the same data file that I was reading previous to the update, I get "Warning: No data found on worksheet." I also get errors writing the data

[2022-05-01 20:17] JanMarvin commented on #348
Hi @marinalaforgia , well ... hard to say without seeing your code or the file you write. Any simple example to reproduce the issue, code and maybe the xlsx file created as output are required.
I use MS365 Excel for testing as well as Excel 16 at work and no specific issue is known to me (reading and writing lots of sheets and data). Maybe your weekly data contains some stuff that wasn't there pre

[2022-05-05 07:41] dkoltg opened #349 "NAs generated by creation of xlsx-document"
**Describe the bug**
Since a few days, I have problems when writing the created wb as an xlsx-file. There appears the error message: NAs are created by conversion. I removed all NAs in both file that are used for the wb. Therefore, I have no clue where there error comes from so recently.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-05-09 17:00] JanMarvin commented on #348
Closed due to no answer. Please let us know if there is anything new to the issue.

[2022-05-09 17:00] #348 closed, assigned to nobody

[2022-05-09 17:03] JanMarvin commented on #326
@klar-C https://github.com/JanMarvin/openxlsx2 is now publicly available for testing. Please be aware that it is not yet stable (aka do not include it into any production pipeline yet).

[2022-05-09 17:14] klar-C commented on #326
Thank you! I will check it out asap.

[2022-05-09 21:03] omertayyab opened #350 "saveWorkBook() not overwriting"
saveWorkBook() function does not overwrite the file when loaded workbook is in same directory. It doesn't matter if the names are differentiated.
It instead creates a new file with the extension .xlsxTRUE or .xlsxFALSE depending on how you supply the overwrite argument
I'm using version 4.2.5 of the package
Using in R studio, R version 4.1.2

Example:
wb <- loadWorkbook(paste0(dir_local,"LFS_data.

[2022-05-09 22:08] JanMarvin commented on #350
Hi @omertayyab , you have a typo in your last line. `overwrite` is part of openxlsx not of paste.

[2022-05-09 22:08] #350 closed, assigned to nobody

[2022-05-10 16:10] omertayyab opened #351 "addition of more than one conditionalFormatting() function corrupts the Excel file"
I'm using conditional formatting to create databars on some columns.
When I apply it to a single column and save the workbook, it works well and the workbook is saved fine and opens up in Excel.
When I apply it to multiple columns, the workbook saves but upon opening in Excel, I get the following message:

"We found a problem with some content in 'LFS_data.xlsx'. Do you want us to recover as much

[2022-05-10 17:36] klar-C opened #352 "Adding @ for formulas"
Hi,

When writing formulas with named ranges, sometimes it adds an "@" in front of the name even though that's not how it was written to openxlsx.

E.g.
SUMPRODUCT((IF(NOT(ISERROR(price)),price,0))*(price))
would switch to
SUMPRODUCT((IF(NOT(ISERROR(@price)),price,0))*(price))

This would not happen if I don't have the "IF(NOT(..." around it.

I'm not sure whether this is Excel (when opening the f

[2022-05-10 17:40] JanMarvin commented on #351
This is indeed a bug. It can be reproduced using:

[code]

Out extLst looks like this (two ext nodes):
[code]

In Excel it looks like this (one ext node with two conditional formatting inside conditional formattings:
[code]

Most likely somebody who did not understand what was going on (me), has introduced this bug.

[2022-05-10 17:57] klar-C commented on #352
Realized this is a duplicate of
https://github.com/awalker89/openxlsx/issues/519
Apologies.

[2022-05-10 17:57] #352 closed, assigned to nobody

[2022-05-10 18:00] JanMarvin commented on #352
I've never been able to reproduce the issue. Could you check if the steps to reproduce still apply?

[2022-05-10 18:19] klar-C commented on #352
Following his instructions under https://github.com/awalker89/openxlsx/issues/519 I'm able to reproduce it. The random "@" sign shows up for me.

[2022-05-10 18:31] klar-C commented on #352
To be clear: Doing array=T solves the issue.

But it would be good to know why it actually happens, because in other sections I'm using explicit @-signs in formulas like @RANGE_XYZ-SUM(RANGE_ABC) and there I don't think I can use the array=T clause.

[2022-05-10 22:01] JanMarvin commented on #352
I'm rather clueless myself, there is no instruction to add @ in openxlsx, therefore the sign must be added for other unknown reasons. What should happen: the formula is written as is, though for whatever reason it is mixed up. Might be some windows problem, but could be completely unrelated.

[2022-05-11 13:30] JanMarvin commented on #352
I did some research on the topic. The issue is caused by `ABS()` being an array function. Even tough Excel does not provide the curly brackets, the function itself remains an array function and is written as such. The difference compared to other array functions is in the way Excel hides this from the user. Excel applies something called a cell meta index, a specific value which picks a certain va

[2022-05-12 16:28] JanMarvin commented on #351
I've fixed this in openxlsx2, but my fix is not easily backwards compatible, because it requires merging two `extLst`s. Due to time constraints I wont work on this any further. Until someone picks this up, I'm afraid it will be a wontfix

[2022-05-12 16:38] JanMarvin commented on #349
Hi @dkoltg , I've edited your snipped above (just enabled markdown). Is your path correct? That looks like it is missing a slash, otherwise your code -- replacing `tab_file_1` and `tab_file_2` with `mtcars` -- runs without any warning for me. Maybe the issue is in your data? Where exactly do you see the warning?

[2022-05-13 02:51] JanMarvin commented on #326
Just for reference:
[code]

[2022-05-13 05:44] dkoltg commented on #349
Hi @JanMarvin, thanks for your reply. After writing the comment, I played around a bit more with the code and as soon as I removed the parts setColWidths the warnings disappeared. I reproduced the whole chunk this morning including setColWidth and had - as you - no warnings - without having changed anything in one case. However in the other case, the warnings remain and the first column (including

[2022-05-13 07:25] JanMarvin commented on #349
Alright, we're always happy to ... err ... help 😄

[2022-05-13 08:17] dkoltg commented on #349
Any other idea how to solve the issue with the setColWidth in the second case? see comment above

[2022-05-13 08:31] JanMarvin commented on #349
Ah sorry, you must have edited it while I closed it. Could you try to replicate the warning with some artifical data somehow? It's a bit hard to imagine what your data looks like and if you can not reproduce it, I would have to.

[2022-05-13 08:42] dkoltg commented on #349
Sorry, I did edit the comment because I have seen the warnings in the second case just after posting the first version.
The warnings are the same as in the first comment. The file for the wb are to tables with the first column as character (date in Swiss format %d.%m.%Y) and 4 (6 columns respectively) with numbers. So nothing very special, as I see it...

[2022-05-13 09:01] JanMarvin commented on #349
Like I've said, anything that helps reproducing the warning would be benefitial. If it can be reproduced with just the few lines and an artificial data set, that would give hints where to look at.

[2022-05-13 09:21] dkoltg commented on #349
Here some sample code:
[code]

When I use a path in our drive, I get the warning...

[2022-05-14 03:31] #186 closed, assigned to nobody

[2022-05-14 03:31] #180 closed, assigned to nobody

[2022-05-14 20:15] JanMarvin commented on #349
Hi @dkoltg , I ran your example without an issue. No warning whatsoever.
[code]

[2022-05-15 08:00] dkoltg commented on #349
Hi, when I just run the code there is no issue, the warning appears as soon as I save the file on our drive. I work with version 4.2.3. Tried to update however get then in some troubles because of depending other packages that need to be in an older version...

[2022-05-15 08:48] JanMarvin commented on #349
Well 4.2.3 was released almost 1.5 years ago. Sorry but it's getting tough to remember what I had for lunch yesterday. Might be that we simply fixed it along the way. Let us know if you can reproduce it with the current release or the development branch :)

[2022-05-15 08:52] dkoltg commented on #349
I work in an IT-environment of an public administration which ends often in a mess regarding updates and so on. We will work with workbench solutotion in future (should be ready somewhen during summer) and I hope that such troubles will be easier to handle then...

[2022-05-15 08:56] JanMarvin commented on #349
Haha, well I know that feeling way to good. Closing this for now.

[2022-05-15 08:56] #349 closed, assigned to nobody

[2022-05-15 08:57] dkoltg commented on #349
Thanks for your help :)

[2022-05-15 09:18] JanMarvin commented on #349
FYI your code in `openxlsx2`:

[code]

[2022-05-15 09:41] dkoltg commented on #349
Thanks

[2022-05-16 18:40] omertayyab commented on #351
Thanks @JanMarvin, I'll try to take it from here, I don't have any experience in XML but this might be a good intro. Cheers!

[2022-05-16 19:44] JanMarvin commented on #227
There is an implementation in `openxlsx2`. There is still some issue with shared strings I do not fully understand, but the file loads (no clue if it's identical ... to huge to compare, looks fine though)

[2022-05-18 18:39] JanMarvin commented on #227
The remaining issues were resolved, I assume that it is fixed in openxlsx2, but it's quite a large sheet. @vchouraki if you want to have a look, openxlsx2 main branch should work fine.

[2022-05-19 15:40] klar-C opened #353 "Hide column"
Hi,

Not sure if this a bug or really a feature request but right now I don't see a way to hide a column.

I tried it with
setColWidths(wb,'ws', cols = 4, widths = 0)
but that does not work.

[2022-05-19 21:45] klar-C commented on #230
Okay this seems to have worked fine:

`
wb$worksheets[[1]]$sheetPr <- '<outlinePr showOutlineSymbols="1" summaryBelow="false" summaryRight="false" />'
`

Question though: Does that have any side-effects I might not be thinking of?

[2022-05-20 04:43] JanMarvin commented on #230
No, I don't think so. That's what `openxlsx` does under the hood. Modifying and applying XML strings. If you want to, you could prepare a pull request to add this to the package. Glad that it works!

[2022-05-20 11:53] klar-C commented on #230
Okay got it. I never looked at the actual library code but I assume that sending something to sheetPr adds the xml to the existing one?

Reason I was asking is that sheetPr seemed like a very high level attribute. And if I assign the string to it I might overwrite something else at the same time.

[2022-05-20 12:07] JanMarvin commented on #230
Well you could look at the previous content of the field, you need outlinepr node and sheetpr should have only one outlinepr node.

[2022-05-20 13:56] JanMarvin commented on #230
The remaining fields of `sheetPr` are [here](https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.spreadsheet.sheetproperties?view=openxml-2.8.1) (select Properties in the drop down to see a full list). There are a few, nothing critical, but you might want to have a look.

[2022-05-20 15:18] archedraft commented on #83
Any chance you may have time to look into this? I am also running into this on version 4.2.5

[2022-05-21 11:52] JanMarvin commented on #83
Hi @archedraft , if you want to, you could have a look at [`openxlsx2`](https://github.com/JanMarvin/openxlsx2) which is currently in active development. I don't have access to power-bi therefore unfortunately I cannot really help you.

[2022-05-23 20:01] klar-C commented on #353
Figured it out. Please disregard.

[2022-05-23 20:01] #353 closed, assigned to nobody

[2022-05-24 17:37] klar-C commented on #326
Short question:

Does the new version allow for writing existing xlsm files?

With the old version I can open/modify existing xlsx files but as soon as there's a macro in it, it breaks.

[2022-05-24 17:46] JanMarvin commented on #326
haven't tested it yet tbh. for questions regarding `openxlsx2` please go to the other repo.  [Edit:] But it works for me :)

[2022-05-28 02:50] #191 closed, assigned to nobody

[2022-05-28 02:50] #188 closed, assigned to nobody

[2022-05-29 13:23] JanMarvin commented on #344
@Matpli I've pushed a pull request to `openxlsx2` that is capable of reading your file. Though it is not for merging with the main branch and only to toy around. It can import and read your file and export it to xlsx too. The changes are minimal, but still large enough for me to hesitate merging them with our mainline

[2022-06-08 13:12] klar-C opened #354 "conditionalFormatting does not take numFmt"
Please see reprex below. When opening the sheet it does not reflect he different number formats.

[code]

[2022-06-08 17:02] JanMarvin commented on #354
Hi @klar-C ,

thanks for the report, I can confirm the bug. Though I have taken quite a good amount to time to get rid of the `styleObject`, therefore I will not waste my time to fix it. It works in `openxlsx2` if you fancy:

[code]

If you want to try to fix it yourself, negStyle and posStyle should look something like this (not sure what and where `openxlsx` creates this part of the xml. My fist

[2022-06-10 02:47] sch56 commented on #335
Not sure whether my issue is directly related to this, or maybe some by-product.  A very simple hyperlink, linking to a cell on the same sheet appears very strangely in Excel and doesn't give a usable hyperlink.
[code]
![image](https://user-images.githubusercontent.com/16248732/172979926-8c2559ff-1655-4571-9412-10bea0814691.png)
[TestHL.xlsx](https://github.com/ycphs/openxlsx/files/8875357/TestHL.

[2022-06-10 04:36] JanMarvin commented on #335
Hi @sch56 , could you please check if the issue remains in our development branch? I've pushed a commit that is related a while ago https://github.com/ycphs/openxlsx/commit/be9afdeba25bf335064bc7a8186248cf71ecb2b2

[2022-06-10 07:10] sch56 commented on #335
Hi Jan

Thanks for the response.

Yes, I have downloaded the development branch and is has fixed the problem.

Would be great to hear when this is available through CRAN so that I can deploy to production users.

Regards
Simon Harrison

From: Jan Marvin Garbuszus ***@***.***>
Sent: Friday, 10 June 2022 4:36 PM
To: ycphs/openxlsx ***@***.***>
Cc: Simon Harrison ***@***.***>; Mention ***@***.***>
Su

[2022-06-10 21:31] victorrssx opened #355 "saveWorkbook() changing format of empty cells below data"
**Bug (?)**
Hi! I have a workbook that contains some data and I would like to format the empty cells below it with a specific format. When I make it manually and then run a script that uses openxlsx functions (like writeData and addStyle) the pre-existing format disappears returning to Excel default. Some tests  bring me to the fact that uses loadWorkbook and then saveWorkbook in sequence produces

[2022-06-11 14:07] JanMarvin commented on #152
Hi @aavanesy , thanks for the report and sorry it took so long to response. The issue is that your input is invalid. Whatever gave you this input, included the [unit separator `\037`](https://www.ascii-code.com/) from ascii. Therefore now you pass a zero terminated string to `openxlsx`. In R it looks like this (the question mark is invisble in R):
[code]

`openxlsx2` creates `<si>abcd\037</si>` fr

[2022-06-12 20:28] sch56 opened #356 "A method to return the 'used extent' on a worksheet"
I need to know what the 'last written row' in a worksheet that I have read in, so that I can add data after that.

Just reading the data and counting the rows doesn't work as this depends on many other factors.

I have found that the following works, but could be made more apparent: `max(wb$worksheets[[sn]]$sheet_data$rows)`. (This also requires additional checking for an empty sheet as max return

[2022-06-15 07:23] wleoncio commented on #342
Adding reprex (extracted from `example(dataValidation)` on openxlsx 4.2.5.1):

[code]

<sup>Created on 2022-06-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-06-17 14:27] deschen1 opened #359 "How to prevent "NA" strings when saving workbooks"
Disclaimer: I yet have to figure out how to make a reproducible example (because as of now I can't, well, reproduce with a small toy example the issue in one of my files).

But here's the problem:

- I create a workbook in R with `createWorkbook` => `addWorksheet` => `writeData` => `saveWorkbook`.
- The data passed via writeData has missings. Saving the workbook just doesn't print them, i.e. leave

[2022-06-17 14:40] JanMarvin commented on #359
Hi @deschen1 , it's a known behavior. If an empty field is found, `openxlsx` adds `NA_character_`. I reference the line that causes this behavior in another maybe closed issue. I haven't changed it, because it is around for so long, that I considered it expected behavior.

[2022-06-17 15:15] deschen1 commented on #359
Interesting. And thanks for the quick reply.

Any chance you'd at least add an optional argument? Because in its current form, it's quite inconsistent, no? I.e. saving first round doesn't add NA strings, but second round (after loadWorkbook) adds NA strings.

[2022-06-17 15:30] JanMarvin commented on #359
Hi @deschen1 , I do not plan to add this. Though, I would support a pull request which will optionally change the behavior. The lines that cause the issue are the following, though the fix might be incomplete: https://github.com/JanMarvin/openxlsx/commit/c47948fdbfe04753180a2c044dbb7a32bc5eb86b.

[2022-06-17 19:38] deschen1 commented on #359
OK, I did a pull request and simply added an optional argument to loadWorkbook. https://github.com/deschen1/openxlsx/commit/beae41b14eaf3cdef6f76fbb5dd88730d73d738b The Fix seems to work at first glance.

[2022-06-25 08:34] lz1nwm commented on #199
Still not resolved.

[2022-06-25 19:56] JanMarvin commented on #199
Hi @lz1nwm , on Mac R 4.2.1 with our current development branch the issue seems "solved":

From `styles.xml`
[code]
And in MS 365
<img width="106" alt="Screenshot 2022-06-25 at 21 52 01" src="https://user-images.githubusercontent.com/1645626/175788705-2b951113-2aef-457d-ba2f-353aacee1a13.png">

Could you give it a try?

[2022-06-28 12:11] sigbertklinke opened #361 "loadWorkbook & saveWorkbook erases any format and contents"
Hi,

I'am running under Ubuntu 20.04.4 LTS, R version 4.2.0 and install of openxlsx from github a small program with a loop

[code]

The files contain all the cloned sheets, but any formating or content in a sheet is erased.

Best Sigbert

[2022-06-28 15:08] JanMarvin commented on #361
Hi @sigbertklinke , afaik that is not supposed to happen. What kind of formatting do you have? Background colors, number formats, font colors etc or text cells with highlighting? Only the latter should not be available after cloning and replacing, the rest should remain (maybe not 100%).

[2022-06-28 16:01] sigbertklinke commented on #361
Hi, most of it: Background colors, number formats, formulas and text cells with highlighting, I can try tomorrow to simplify my Excel template and report back. Thanks Sigbert

[2022-06-29 15:23] JGWestie commented on #178
Also interested in this feature.

[2022-06-29 20:14] lz1nwm commented on #199
I confirm that the issue is solved. Thanks!

[2022-06-29 20:14] #199 closed, assigned to nobody

[2022-06-29 22:01] lz1nwm opened #362 "Default date formatting"
Why the default date format does not match Excel default date format (Windows Regional setting)? The following code formats date as `mm.dd.yyyy`, while my Excel default date formatting is `*dd.mm.yy`. There was no such issue in version 4.2.3.

[code]

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-06-30 05:13] JanMarvin commented on #362
Hi @lz1nwm , we fixed a bug when writing dates, which might have triggered the behavior you have encountered.

If you want to fix that, you could try to apply a special date format. If you want to fix this on the code level, try to find out, what has changed since the last working version. `git bisect` could help, but there haven't been so many changes on the development branch, you could simply t

[2022-07-04 19:07] victorrssx commented on #361
@sigbertklinke @JanMarvin any news? I have a similar problem with these functions (already open an issue)

[2022-07-04 21:18] JanMarvin commented on #355
Hi @victorrssx , there is to much going on in the code snippet above. Generally speaking `openxlsx` has some known issues with styles. Iirc certain empty rows are entirely simply skipped by `loadWorkbook()` therefore they can never be written again afterwards. You could have a look if `openxlsx2` does a better job with these, though I'm not really sure how/if we handle writing empty cells.

[2022-07-04 21:22] JanMarvin commented on #361
Hi @victorrssx , I've commented on #355 but please do not high jack other issues.

[2022-07-05 06:02] sigbertklinke commented on #361
Hi, I deleted all formatting in my sheet "Vorlage" and set the font to Calibri 11 (standard Excel font as far as I know). Still the same result. I want to try it once more with Excel under Windows, since I'am using  LibreOffice with Ubuntu.

What actually works is: load the workbook, write the data and save the workbook. Of course, instead of having one workbook with n sheets, I have now n workboo

[2022-07-05 06:25] JanMarvin commented on #361
Well you write `file[I]` guess that's expected. Otherwise the load workbook should be outside of the loop and the save workbook after the loop. Please add a minimal example if possible. A formatted file and the code you want to run.

[2022-07-05 17:31] JanMarvin commented on #361
Follow up, @sigbertklinke mailed me his minimal working example and I could check that the file looks alright when working with `openxlsx2` therefore I consider the issue solved on my end. Please refrain from mailing me other files, this was a one time exception :)

Btw. @sigbertklinke , after I replied to you I realised that cell "B2" would be a better place for the name.

[2022-07-05 17:31] #361 closed, assigned to nobody

[2022-07-06 08:27] deschen1 commented on #362
I checked it in the development branch (https://github.com/ycphs/openxlsx/tree/development). Not entirely sure what the expected behaviour is.

Running the code above returns a "custom" column format as `mm.dd.yyyy`, however, I can easily switch that in Excel to "Date", which then returns the date format as specified by the WInDows Regional settings, in my case `dd.mm.yyyy`

[2022-07-06 08:37] deschen1 commented on #288
Just tried to read in the bad.xlsx file posted in the initial post with the potential fix in the development branch. Unfortunately, trying to open the file crashs/terminates R.

[code]

[2022-07-06 08:44] deschen1 commented on #342
@JanMarvin I can confirm the warning message is gone in the current development branch (not sure if you want to be actively tagged, but since you asked if someone could test the changes in the dev branch, I thought you'd want to).

[2022-07-06 17:46] JanMarvin commented on #362
There is indeed a change that has been around sind 4.2.4 and might be an unrelated side effect. My first guess is that it is related to this PR I assume: https://github.com/ycphs/openxlsx/issues/165 from April 2021. Wild unelaborated guess maybe when replacing this:
[code]

It can be changed the output to your expected setting with the following:

[code]

Anyone care to dig in to the code where we

[2022-07-07 06:38] JanMarvin commented on #362
Pushed a fix to `development`. Please let me know if this solves the issue you were seeing.

[2022-07-07 07:08] lz1nwm commented on #362
@JanMarvin thanks for the efforts, but I see no change after the fix. It is still formatted as `mm.dd.yyyy`.

But if I set `options("openxlsx.dateFormat" = "date")` I get expected output and it solves my issue. So I'll live with it if most of the users prefer this behavior.

[2022-07-07 07:30] JanMarvin commented on #362
The intention of the fix is to set just this `options("openxlsx.dateFormat" = "date")`. Did you rebuild and install development in a new session?

[2022-07-07 07:45] lz1nwm commented on #362
I'm sorry, you are right. I have rebuild it in a clean new session and it works now. Although I have this warnings in the end:

[code]

Thanks again @JanMarvin !

[2022-07-07 08:13] lz1nwm commented on #362
So, the issue is still here. When I confirmed that it was solved, I have run the code with the option. Without this option in the code there is no change...

[2022-07-07 09:07] JanMarvin commented on #362
And your sure that you installed the development branch? I'm asking because I'm not sure, where else we pick up some other date, but I might have missed it in the code. Maybe someone else will pick this up and continue this. If the issue remains. I've already spent more than enough time researching the issue yesterday evening.

[2022-07-07 10:03] lz1nwm commented on #362
I'm using `openxlsx    * 4.2.5.9000 2022-07-07 [1] Github (ycphs/openxlsx@3ceeb84)`

[2022-07-07 10:48] lz1nwm commented on #362
My fault. I thought that the main branch here is the development one. Now I realized that I have to use `remotes::install_github("ycphs/openxlsx", ref = "development")` to have the development version. That said, after installing `openxlsx    * 4.2.5.1 2022-07-07 [1] Github (ycphs/openxlsx@875d38e)`  the issue seems resolved and it will be great if the fix could be merged to master branch.

[2022-07-07 11:04] JanMarvin commented on #362
Thanks for confirming. Yes, the fix is in the development branch an will be merged once we draft the next release from there.

[2022-07-11 19:25] Ljupch0 commented on #354
Can openxlsx2 be used plug-and-play with openxlsx?

[2022-07-11 19:54] JanMarvin commented on #354
Hi @Ljupch0 , short answer: no. The longer answer is, that it is not a drop in replacement or even interchangeable with openxlsx. It's still in very active development, but you're welcome to have a look for yourself.

[2022-07-13 12:20] wleoncio commented on #342
Thanks for testing, @deschen1! I understand the repo is basically no longer maintained, but it would be nice if someone would close this issue since it's solved.

[2022-07-13 15:48] JanMarvin commented on #342
Rest assured, this repository is still maintained. The last merge to development was just yesterday. We might not always be the fastest, but not actively developing and not being maintained are different things.
People just have different things to do in life and some of us have to work for a living 😉 There will be new releases with bugfixes etc, just not at the moment.

[2022-07-14 12:57] wleoncio commented on #342
You're right, sorry for misspeaking. Great to know there are new releases on the horizon!

[2022-07-16 03:55] #195 closed, assigned to nobody

[2022-07-18 22:52] David-Rattray opened #367 "use "auto" for setRowheights"
Hello,

It seems like it was already done at one point, but is not present in the current version of openxlsx.
https://github.com/awalker89/openxlsx/pull/382

This feature would be incredibly useful. Not sure what happened to it.

I'm using openxlsx 4.2.5

Thank you for all your great work!

[2022-07-19 01:41] tkpmep opened #368 "Percentage format not working"
[https://stackoverflow.com/questions/73016935/r-openxlsx-not-formatting-percentages-correctly]

I use openxlsx to write dataframes from an R script to Excel. I was on R 4.05 (and possibly and older version of openxlsx) and the following statement worked just fine:

options("openxlsx.numFmt" = "0.0%")
writeData(wb, "Sheet_1", df_tmp, startCol = 2, startRow = 16, rowNames = TRUE)

df_tmp (a datafram

[2022-07-19 03:51] joedaffy opened #369 "retrieve wb data"
As far as I'm aware, there's no easy way to see what's in my wb object without writing and saving to an Excel document. For debugging and checking purposes, it would be helpful to have a function where I can input the wb object, the sheet and the cell range, which returns a dataframe of what currently sits in the wb object in the specified range.

[2022-07-19 05:00] JanMarvin commented on #369
Hi @joedaffy , that would be `read.xlsx(wb)` or `readWorkbook(wb)` which is the same.

[2022-07-19 05:03] joedaffy commented on #369
Thanks @JanMarvin!

[2022-07-19 05:05] #369 closed, assigned to nobody

[2022-07-19 06:53] JanMarvin commented on #368
Hi @tkpmep , might be a regression. Could you please check the same with the development branch? Unfortunately at the moment the only solution would be to assign formats manually.

[2022-07-19 07:10] tkpmep commented on #368
I'm happy to try - is there anything that I have to take care with when I install the development version? For example, remove the stable version, add some other packages etc. etc.

[2022-07-19 07:30] JanMarvin commented on #368
Hi, no you should be fine just installing the development version with remotes like this:
`remotes::install_github("ycphs/openxlsx", ref="development")` (typed on my smartphone therefore it might be slightly different)

[2022-07-19 09:33] tkpmep commented on #368
Tried the development version. The problem is still a way from being fixed
options("openxlsx.numFmt" = "0.0%") still gives me date formatted cells
options("openxlsx.numFmt" = "PERCENTAGE") gives me decimals
Nothing gives me percentages.

[2022-07-19 09:42] JanMarvin commented on #368
Hm, well it was worth a try. You can assign custom styles:
[code]

Not sure what exactly broke it, but most likely it's around for quite some time. Might be some option doing something strange.

[2022-07-19 09:46] tkpmep commented on #368
I actually tried this once, but it didn;t work at all (everything got formatted as a date). I wish I knew what version of openxlsx I was on when I was on R 4.05,  because it then worked perfectly. It could be with base R, openxlsx, or one of the dependencies. for now, i'm going to stick with the development version and the use of "PERCENTAGE" and live with the output being formatted as a decimal,

[2022-07-19 09:53] JanMarvin commented on #368
It definitely works, I use it with the CRAN release frequently. You have to define the rows and cols you apply the style and maybe skip the colname cell. But use whatever suits you. Opening the XLSX file and setting the cellstyle manually brings the benefit that you see the numbers created at least once :)

[2022-07-19 09:59] JanMarvin commented on #367
Hi @David-Rattray , it looks like it was never merged. Would you like to carry the pull request over and try it out?

[2022-07-19 15:16] David-Rattray commented on #367
Hi @JanMarvin, yeah I would love to give it a whirl. However, I'm very unfamiliar with github. I'll see if I can figure out how to do that.

[2022-07-19 16:08] JanMarvin commented on #367
Thanks, let me know if there's anything I can help you with on the openxlsx side of things. For GitHub there are countless guides how to do things, there will be one answering your questions :)

[2022-07-19 21:14] jzadra opened #370 "Opening a wb object that was loaded from xlsx causes content problems"
**Describe the bug**
If you create a wb from scratch and open it in excel, it works fine.  If you instead load a wb from an existin xlsx file and then try to open in in excel, it causes an excel alert regarding problematic conent.

**To Reproduce**
[code]
![image](https://user-images.githubusercontent.com/25590353/179849223-e6b014bc-cc15-495a-b82d-86bd52e365fa.png)

Clicking "yes" yields:

![image

[2022-07-19 21:40] jzadra commented on #370
Oddly enough, I have my own .xlsx file in my package that when I load initially using the same method as the loadWorkbook example for the xlsx file packed into the openxlsx package, it will initially open just fine using `openXL(wb)` just fine.  But if I then save it, and use `loadWorkbook()` again for the saved file, I get the same content issue.

So it isn't entirely using loadWorkbook that caus

[2022-07-19 21:43] jzadra commented on #370
This has now been replicated by a colleague on a windows machine.

[2022-07-19 21:56] JanMarvin commented on #370
Hi @jzadra , most likely some extlst issue. Any slicers in the sheet, they are known to cause issues.

[2022-07-19 22:01] JanMarvin commented on #370
workbook objects are not 1:1 copies of the original file. there is a lot of stuff going on behind the scenes and sometimes `openxlsx` creates output that Excel does not understand. What makes it difficult, Excel is bad at telling what causes the issue and worse at fixing mistakes.

[2022-07-19 22:19] jzadra commented on #370
I've just verified that it does work with 4.2.4 (the original example with the excel file bundled with the package), ie:

[code]

[2022-07-20 04:53] JanMarvin commented on #370
You could see if reverting this commit solves the issue: https://github.com/ycphs/openxlsx/commit/312ea6c22c5f49da25c5bc4e9e82d085d2dd5f2c IIRC I enabled reading extlst, but openxlsx might try to add another extlst if slicers are available. But it's been 9 months since that commit so that's not really something I'm sure of.

Another attempt might be to erase all duplicated extlst entries. There wa

[2022-07-20 05:01] JanMarvin commented on #370
I've opened a pull request in #371 fingers crossed that it solves the issue. Could you please give it a try, with our file and with your own?
PS: tidyverse is completely unrelated to the issue.

[2022-07-20 17:43] jzadra commented on #370
I installed #371 and re-ran with the package file and it works.  I already modified my own after it was determined that what was causing the problem on our file was hyperlinks.  Once we deleted them, the problem went away. So I can't do a proper test on my file any more (dont' have time to go back)

[2022-07-20 17:53] JanMarvin commented on #370
Well thanks anyways!

[2022-07-20 18:54] David-Rattray commented on #367
@JanMarvin I've been following the contribution guidelines for openxlsx:
 `usethis::create_from_github("ycphs/openxlsx", fork = TRUE)`,
 after running `devtools::check()` there are zero errors, 1 warning, and 1 note. Not sure if that is fine to continue with or something to straight out first.

 After that I'm going to try and figure out how to bring @Davidbreuer 's code from the pull request into

[2022-07-20 19:08] JanMarvin commented on #367
I'd say just start playing with the code :) Fixing things like warnings is a chore for after the implementation. No need to fix stuff only to realize that it doesn't work as expected.

[2022-07-22 16:18] millermc38 opened #372 "writeDataTable() not constructed as error suggests"
In version 4.2.5 of openxlsx, if you do writeDataTable() with two variables that have the same name but different capitalization/casing, you get the following error: "colNames must be a unique vector (case sensitive)". Change assert_unique(...,case_sensitive=TRUE), which is currently set to false.

Example:

[code]

[2022-07-26 16:40] David-Rattray commented on #367
@JanMarvin Managed to straighten out some of the problems, however test-encoding, and test-styles still produce errors when running the check. I've tried using it to produce a report, however I encounter an error (with Rcpp I think)
 `Error in write_worksheet_xml_2(prior = prior, post = post, sheet_data = ws$sheet_data,  :
  Not compatible with STRSXP: [type=NULL].`

  See if I can figure it out,

[2022-07-26 17:32] JanMarvin commented on #367
Hi @David-Rattray , if you could open a PR I can have a look. Simply push your changes to your fork of `openxlsx` and click open pull request when the github popup appears. From this error alone, I'm not able to tell you where to look at. Either `prior` or `post` are not `STRSXP` (`character`), but `NULL` or something inside that function threw this error.

[2022-07-26 18:29] David-Rattray commented on #367
@JanMarvin Yeah I'll do that in a moment, I think its the row_heights_ = NULL part of the write_worksheet_xml_2.
Line 141 of the Rcpp Exports file

[2022-07-26 18:39] JanMarvin commented on #367
I'll have a look, but maybe on the weekend. Thanks for pushing this forward :)

[2022-07-27 15:40] David-Rattray commented on #367
@JanMarvin hope I'm not bugging you. Just put together a minimal reproducible example for me at least.

[code]

[code]

[code]

I'll try and poke around a bit myself too

[2022-07-27 16:20] JanMarvin commented on #367
No your not bugging me, it's just that I'm currently focusing on another project and switching back and forth is not always helpful. I'll get to it and thanks for the example.

[2022-07-28 04:14] arodionoff commented on #351
I've been struggling with this problem with **some databars** on one page since using MS Excel 2016 and later versions. On earlier versions, for example, MS Excel 2013, **this problem was not found**. Moreover, if you open and immediately save a file with several databars on one page, then the resaved file opens perfectly in new versions of MS Excel.

If you open a file with several databars on on

[2022-07-28 05:58] JanMarvin commented on #351
Maybe it's a regression (mostly on our end), but fixing it would require a lot of work in `openxlsx`. The issue is, if I recall correctly, that multiple `extLst` or `ext` nodes are attached below the data part in the output XLSX. If all you need is databars, have a look at [the conditional formatting vignette of openxlsx2](https://janmarvin.github.io/openxlsx2/articles/conditional-formatting.html)

[2022-07-28 23:47] rempsyc opened #374 "Feature request: Add extra characters to cells based on other criteria"
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am the author of the `rempsyc` package and one of the package's function ([`cormatrix_excel`](https://rempsyc.remi-theriault.com/reference/cormatrix_excel.html)) relies on `openxlsx` to export a formatted correlation matrix to Excel. Some users have made the request to include significance stars or p-va

[2022-07-29 15:35] JanMarvin commented on #374
I have a solution for this, but I've created it with openxlsx2. (It could be backward compatible, but I haven't checked it.)

I exported both the correlation matrix and the p value matrix and created numeric styles for all required styles, e.g. negative correlation with `**`. That keeps the actual values untouched.

Later I'll post my solution as a discussion in openxlsx2. It's not really somethin

[2022-07-30 10:07] JanMarvin commented on #367
That's the output of the `setRowHeights()` example

<img width="341" alt="Screenshot 2022-07-30 at 12 06 20" src="https://user-images.githubusercontent.com/1645626/181905551-21724419-57b6-4de6-a6e7-19c69fc66db6.png">

[2022-08-07 11:44] #343 closed, assigned to nobody

[2022-08-08 16:16] sxl634 opened #377 "Feature request: Add column to existing table"
Would it be possible to have a function whereby:
1. you load in an existing xlsx file which contains a table using loadWorkbook
2. then use this new function to append a new column onto an existing table inside the workbook loaded and have the formatting copied across from the column directly to the left.
3. Then use the saveWorkbook function to save your updated workbook

[2022-08-12 01:59] gelisol commented on #359
Hi @JanMarvin. If you were to be compensated monetarily (by me) for your time and effort to add deschen1's request in your next versioning of openxlsx, would you be willing to add it? It would be much appreciated by many users of your openxlsx package to have an additional parameter like the one deschen1 specified in his pull request. Thanks!

[2022-08-12 04:16] JanMarvin commented on #359
Hi @gelisol , thanks for the kind offer, but if I remember correctly, the PR is already merged in development. Once the next release is drafted, it should be on CRAN. In the meantime, I'm actively developing `openxlsx2` which does not have this issue

[2022-08-12 06:56] deschen1 commented on #359
@JanMarvin do you have any insight in when the next version might be released? Like is it a matter of days? Weeks? Or "maybe sometime."?

[2022-08-12 07:13] JanMarvin commented on #359
No, sorry, I don't. It's whenever @ycphs decides it's time. I'm just contributing to this project and maybe keeping it alive lately (and I may have caused a few issues along the way myself when I fixed things inadequately), and I like to keep ownership/maintenance separate :)

There are a few open PR that should be merged #341, #375, and #376. I'm not even sure we'll pass CRAN without something li

[2022-08-12 11:32] deschen1 commented on #359
I wouldn't say it's "unfortunate" that you probably have to get it ready. You seem to be the active maintainer here, that's already something I'd say. But I agree that at some point the "external" people are probably only of limited help, i.e. we can probably contribute on some code, but everything beyond is more something for the core team. Having said that. Leaving 341 and 375 aside, do I see th

[2022-08-12 12:55] JanMarvin commented on #359
In a way yes. I have to clean it a bit, I started it on top of 375 afaik, but it should be independent of that.
When I said it's unfortunate, I was simply referring to the fact that it will consume time and it's a tedious task as well. We'll get it done. Checking a few things here and there is always welcome

[2022-08-12 16:32] gelisol commented on #359
Thanks, JanMarvin, for clarifying that the change will eventually be available! : ) I'm also looking forward to your release of openxlsx2. Thanks!

[2022-08-13 03:01] #236 closed, assigned to nobody

[2022-08-13 03:02] #234 closed, assigned to nobody

[2022-08-13 03:02] #141 closed, assigned to nobody

[2022-08-18 19:47] trekonom opened #378 "openxlsx_setOp fails to set a style for headerStyle."
**Describe the bug**
`openxlsx_setOp` fails to set a style for `headerStyle`.

**To Reproduce**
When answering [this question](https://stackoverflow.com/questions/73406826/openxlsx-openxlsx-setopheaderstyle/73406961#73406961) on SO I stumbled over a possible bug in `openxlsx_setOp`:

[code]
**Expected behavior**
IMHO the issue is that `openxlsx_setOp` converts the `value` argument to a `list` usin

[2022-08-19 19:13] phargarten2 opened #379 "buildWorkbook, write.xlsx: Documentation needs to be updated"
In  `writeDataTable()` or `writeData()`, col.names and row.names are deprecated. Therefore, please remove col.names and row.names  from documentation in `buildWorkbook` and `write.xlsx`:

openxlsx Package Version: "4.2.5"

[2022-08-20 03:14] #54 closed, assigned to nobody

[2022-08-20 03:14] #42 closed, assigned to nobody

[2022-08-26 12:45] Larbo53 opened #380 "add sheet without number"
Hello,
I want to create sheets with the following code:
"For i in range(0,len(customers)):
      workbook=Workbook()
     if i==0:
                sheet = workbook.active
                sheet.title = str(customers[i])
            else:
                Num=str(i)
               sheetNum=workbook.create_sheet(title=str(customers)[i])"
but I get an error back.
How can I proceed because in my process

[2022-08-26 15:00] JanMarvin commented on #380
Sorry, but this does not look like R to me. Are you looking for openpyxl?

[2022-08-26 15:00] #380 closed, assigned to nobody

[2022-08-27 03:35] #242 closed, assigned to nobody

[2022-08-27 03:35] #51 closed, assigned to nobody

[2022-08-31 20:10] vorpalvorpal commented on #356
I came here to see if there was a way to do this for a very similar problem. An openxlsx function to do this would be great. @ycphs is this something you would consider?

First draft of a function:
[code]

[2022-09-03 04:42] deschen1 commented on #231
Evil github bot!

[2022-09-03 07:56] JanMarvin commented on #231
I've removed the stale label, but there is no active development regarding the issue. Should work with openxlsx2, if you want to give it a try.
Edit: on a second thought it might require fix1 with openxlsx2

[2022-09-05 07:18] DIPAD-Fran-Bryden opened #381 "Heading style names are lost when opening and saving xlsx file"
**Describe the bug**
When opening an existing xlsx file containing header styles in cells and then resaving it, the appearance of the cell is preserved, but the naming of this style as a header style (e.g. Heading 1 or Heading 2) is lost. This is necessary for accessibility of xlsx documents with technology such as screen readers.

**To Reproduce**
1. Create an Excel document containing text.
2. F

[2022-09-05 16:38] JanMarvin commented on #381
Hi @DIPAD-Fran-Bryden , afaik the information is simply not available in openxlsx style objects. The entire styles.xml file is imported into style objects and exported when saving. The style name is in `<cellstyles>...` or similar, which is not necessary for openxlsx. I guess it would be possible to add this, but might require a larger patch. You can have a look at the in development package openx

[2022-09-06 07:56] DIPAD-Fran-Bryden commented on #381
Cheers @JanMarvin, really appreciate the helpful response! Will check out openxlsx2 as an alternative 😺

[2022-09-10 03:45] #95 closed, assigned to JanMarvin

[2022-09-10 03:45] #44 closed, assigned to JanMarvin

[2022-09-23 16:11] IRorpa commented on #342
Is it possible to define formula1 in dataValidation when the type is list by giving a list of values rather than specifying a sheet range?  Like

library(openxlsx)
wb <- createWorkbook()
addWorksheet(wb, "Sheet 1")
addWorksheet(wb, "Sheet 2")

writeDataTable(wb, sheet = 1, x = iris[1:30, ])
writeData(wb, sheet = 2, x = sample(iris$Sepal.Length, 10))

dataValidation(wb, 1, col = 1, rows = 2:31, typ

[2022-09-23 17:20] JanMarvin opened #384 "Is it possible to define formula1 in dataValidation when the type is list by giving a list of values rather than specifying a sheet range? Like"
Is it possible to define formula1 in dataValidation when the type is list by giving a list of values rather than specifying a sheet range?  Like

[code]
When I try to do this, I get an error in the resulting excel file.

_Originally posted by @IRorpa in https://github.com/ycphs/openxlsx/issues/342#issuecomment-1256404432_

[2022-09-23 17:21] JanMarvin opened #385 "Is it possible to define formula1 in dataValidation when the type is list by giving a list of values rather than specifying a sheet range? Like"
Is it possible to define formula1 in dataValidation when the type is list by giving a list of values rather than specifying a sheet range?  Like

library(openxlsx)
wb <- createWorkbook()
addWorksheet(wb, "Sheet 1")
addWorksheet(wb, "Sheet 2")

writeDataTable(wb, sheet = 1, x = iris[1:30, ])
writeData(wb, sheet = 2, x = sample(iris$Sepal.Length, 10))

dataValidation(wb, 1, col = 1, rows = 2:31, typ

[2022-09-23 17:40] JanMarvin commented on #384
@IRorpa I've moved this to a new issue. I can reproduce your observation, but I do not know what you are trying to achieve. Are option1 and option2 named regions? Other than that, the data validation is converted to some xml string. This string must be interpretable by spreadsheet software.

Something like this:
[code]

The above is created by `openxlsx2` and there is no error, but still no clue w

[2022-09-23 17:44] IRorpa commented on #384
Thanks for looking into it.  I tried installing openxlsx2 and i got a message saying it's not available for my version of R. Do you know where I can get it for R version 4.2.1?

[2022-09-23 17:46] tentacles-from-outer-space commented on #384
It is posible. I done it here: https://github.com/ycphs/openxlsx/issues/16#issuecomment-1095572767

In your case

    dataValidation(wb, 1, col = 1, rows = 2:31, type = "list", value = '"option1,option2"')

[2022-09-23 17:48] IRorpa commented on #384
Thank you so much.  This is exactly what I needed @tentacles-from-outer-space.

[2022-09-23 18:16] JanMarvin commented on #384
Glad it's solved

[2022-09-23 18:16] #384 closed, assigned to nobody

[2022-09-23 18:20] JanMarvin commented on #384
Just to please my curiosity, what is supposed to happen? I've re-written a lot of the data validation code, but rarely use it.

[2022-09-23 18:24] IRorpa commented on #384
The cell that the data validation is applied to is supposed to display a dropdown of the options specified in the list.

[2022-09-23 18:33] JanMarvin commented on #384
Thanks! btw openxlsx2 is currently in development and a first CRAN release should happen in the next week.

[2022-09-23 18:57] #385 closed, assigned to nobody

[2022-09-26 13:39] olivier7121 opened #386 "Several issues with `dataValidation(type = "list")`"
Under Windows 10 and Excel 2007, I cannot create drop-down lists (Data -> Data Validation -> List) in Excel files I am generating with the function `dataValidation` and parameter `type = "list"` of the library `openxlsx`.

I am using R 4.2.1 (the latest available to date on CRAN).
I tried with both the latest stable CRAN release (4.2.5) and with the latest 'stable' development version (4.2.5.9000)

[2022-09-26 21:50] olivier7121 opened #387 "`conditionalFormatting` replaces the other applied styles - need a parameter `stack = TRUE` like with `addStyle`"
The function `conditionalFormatting` replaces the other applied styles (which is not the behaviour expected and observed in Excel). Unlike function `addStyle`, there is currently no parameter `stack = TRUE` to prevent that.

Reproducible example (also available on [this page](https://stackoverflow.com/questions/73823657/openxlsx-is-there-a-superimpose-mode-for-styles) of stackoverflow - reprex #2)

[2022-09-26 21:52] olivier7121 opened #388 "Could `mergeCells` have the same behaviour as in Excel, i.e. merging AND centering effect by default?"

[2022-09-26 22:54] JanMarvin commented on #387
Hi @olivier7121 , thanks for the report. I assume that you did not want the hyperlink color and font to be modified?

Most likely that's because the dxfs xml string is created with to many arguments.

[code]

instead of

[code]

[2022-09-26 23:36] JanMarvin commented on #386
Hi @olivier7121 , thanks for the report. I have tested the first example and it works fine with the development branch of openxlsx. Could you please have a look if this solves your issue as well?

[code]

The following works for me:
[code]

But be aware that the formula will be broken unless `array = TRUE` is added. Otherewise Excel will add an `@` sign because the formula is intended to be evalua

[2022-09-26 23:38] JanMarvin commented on #388
I assume the answer is yes. All it would need would be a addStyle call with center on the merged cell. Would you like to create a pull request for this?

[2022-09-27 05:49] olivier7121 commented on #386
Thanks for the quick reply, @JanMarvin.

I tried with the line you recommended:
`remotes::install_github("ycphs/openxlsx", lib = "G:/Programmation/R/R-4.2.1/library", ref = "development")`

Now my R session uses the version 4.2.5.1 of `openxlsx`.

Then I tried each of the following lines:
`dataValidation(wb = Workbook4Export, sheet = "Tab_1", rows = 1, col = 1, type = "list", value = "'Tab_1'!C1:F

[2022-09-27 05:58] olivier7121 commented on #387
Thanks for the quick reply, @JanMarvin.

Your assumption is right: I didn't want the font color to be modified. I wanted exactly the same behaviour as the one we get when doing this with Excel (i.e. 'superimpose' mode and not 'replace' mode).

As I wrote in my first message, it is very similar (if not the same) to the `stack = TRUE` parameter of the `addStyle` function of `openxlsx`.

[2022-09-27 06:03] olivier7121 commented on #388
Thanks for the quick reply, @JanMarvin.

Yes, that's what I did: I called `mergeCells` and then applied a centering style with `addStyle`.
My proposal (and it was just an enhancement proposal, not an issue, I hope I got this right) was simply to embed this centering feature by default within `mergeCells` - so as to replicate the behaviour in Excel.
Of course not a high priority request.

[2022-09-27 06:31] JanMarvin commented on #386
Hi @olivier7121 , all of the following work:

[code]

Though data validation lists are a feature introduced with Office 2010 (it requires internally: "http://schemas.microsoft.com/office/spreadsheetml/2009/9/main" (that's just some xml namespace to be evaluated by excel) which makes me guess Office 2010, could be 2013 as well).

[Edit:] I was curious if Office 2007 was supported at all, but accord

[2022-09-27 06:36] JanMarvin commented on #387
I have raised an issue with `openxlsx2` where I can simply solve this (a workaround is already in the issue). In `openxlsx` it could be solvable too, but even I have time restrictions 😄 .

[2022-09-27 07:05] olivier7121 commented on #386
It doesn't work on my computer with Windows 10 and Excel 2007.

Your link is dead.

No, data validation lists already existed in Excel 2007 (and most likely already before 2007). I am using them (outside R of course) without any problem on my computer.
Please see this page: https://support.microsoft.com/en-us/office/create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b
See also: https://sup

[2022-09-27 07:26] JanMarvin commented on #386
Well, you could try to change that in code. After all it's open source. Maybe using something like ".../2006/6/main" is sufficient.

I don't use not have access to this ancient office version (there's been 2010, 2013, 2017, guess 2020 and MS365 since then). And cannot help you with that. Works with MS365 (you could use that in a web browser free of charge).

[2022-09-27 09:10] JanMarvin commented on #386
You'd have to make changes here:

https://github.com/ycphs/openxlsx/blob/e7b699eb8acd949616e15557e373e8aea130cb44/R/worksheet_class.R#L228-L229

And here:

https://github.com/ycphs/openxlsx/blob/e7b699eb8acd949616e15557e373e8aea130cb44/R/WorkbookClass.R#L2567-L2581

Basically: replace all `x14` with `x`(?) and change the schema in the first section to `.../2006/6/main` (?). You could see what is r

[2022-09-27 16:35] olivier7121 commented on #386
Hi @JanMarvin.

I didn't understand what this link in your message was for, now I understand a bit (not much) better.

This message was also quite cryptic to me.

Thanks for the tip. It indeed works. That is really strange that it doesn't work with Office 2007...

The bottom of `xl/worksheets/sheet1.xml` of my Excel 2007 file looks like this:
[code]

So at first sight I would say it's not so much

[2022-09-27 17:22] JanMarvin commented on #386
Hi @olivier7121 ,

haha, sorry for confusing you (it was a short night and I typed my response quickly after breakfast). The snipped you have added looks indeed quite similar to what I would expect a file would look like if written by us.

I have two questions for you
* Could you by any chance copy the content of the header of `sheet1.xml` or the entire file into a gist file over at https://gist.g

[2022-09-27 17:54] olivier7121 commented on #386
Yes, I noticed from your posting times that your night had probably been quite short^^

Done: https://gist.github.com/olivier7121/aa8e2ff80b37e37630fe267439e3c221

Nothing, Excel (2007) is completely silent.

Don't worry, I understand. To be very honest I found this evening on an external drive a more recent version of Office (2013) that I completely forgot. I installed it and everything works fin

[2022-09-28 06:19] JanMarvin commented on #386
Hi @olivier7121 , sorry to bother you again. It looks like the `sheet1.xml` file you've uploaded is the one created by `openxlsx`. Though what I was asking for was a matching one created by Excel 2007 that I can use to inspect for differences between Excel 2007 and openxlsx. Could you provide this from a file you have created with Excel 2007 in a similar fashion:

* A1 with a data validation list:

[2022-09-28 06:44] olivier7121 commented on #386
Hi @JanMarvin. Oh yes, you're right, my mistake, apologies for that.

Here you are: https://gist.github.com/olivier7121/d4804f52131c6963aa159a197fca069e

[EDIT]: Just updated the gist file. Now it should be OK.

[2022-09-28 08:46] JanMarvin commented on #386
Thanks! Your dataValidatations is not in ext. Quite interesting. Will check how this differs from our current approach. Maybe just a visual thing, but afaik when I tested this in openxlsx2 it did not work at all.

[2022-09-28 08:51] JanMarvin commented on #386
This ext section has caused me some headaches, so I'd be glad if we could simply get rid of it.
Follow up question regarding the Excel behavior you're seeing. Is there a warning that the file has newer features or does it open silently and the list selection is simply not available or doesn't it open at all?

[edit]
What does this exactly mean 😁

[2022-09-28 08:57] olivier7121 commented on #386
No warning, it opens silently and the list selection is simply not available.

Warning in R and no list selection available in Excel 2007 on Windows 10.

[2022-09-28 12:49] RosalynLP opened #389 "Output dates formatted mm-dd-yyyy when monthly data used"
Normally when you save out dates using writeData() they appear in Excel in the format dd-mm-yyyy for me but I have some data which are monthly, i.e. with dates just on the first of each month. In that case they appear in the format mm-dd-yyyy and there doesn't seem to be an option to override this. I realise this might be intentional behaviour but would like to get round it if possible and just ha

[2022-09-29 16:21] JanMarvin commented on #389
Hi @RosalynLP ,

you're looking for the `"openxlsx.dateFormat"`. Please see the code example below. You can replace the date format with some other open xml date format.

[code]

I close this issue. Feel free to reopen if it does not work as expected.

[2022-09-29 16:21] #389 closed, assigned to nobody

[2022-09-30 12:54] RosalynLP commented on #389
Hi @JanMarvin thank you, amazing :)

[2022-10-05 16:40] rowrowrowyourboat opened #390 "Can't connect to openxlsx generated file unless I open in Excel and save it first"
If I generate a file using openxlsx and then try to connect to it from Excel, Excel says that the file is not a valid Excel document. I'm connecting to it in Excel using these menu steps: Data > New Query > From File > From Excel workbook.

I can open that file in Excel just fine. If I open it in Excel and then save it from Excel, I can then connect to it

I'm using Microsoft Office Professional P

[2022-10-05 17:17] rowrowrowyourboat commented on #390
I was comparing the two xlsx files I had attached and opening them up as zip files, I opened up the file /xl/sheet1.xml in both files.

I copied and replaced the text from the start up until (not including) the XML tag `<dimension` from the Excel saved file to the openxlsx generated file and saved it. Excel was able to read the file at that point so it seems like there must be some issue in that a

[2022-10-06 15:21] khorovatin commented on #46
I have been working on other projects and have not needed this functionality recently, but when I return to the original project I would like to be able to do inline formatting.

[2022-10-08 05:36] jacksonsj commented on #261
+1 from me on this issue. This has prevented us from automating any testing around any openxlsx functions that write formulas. We’re attempting to use LibreOffice via CircleCI now to open and save, but unsure how well that will work at scale for us.

[2022-10-08 06:16] JanMarvin commented on #261
Like I've said: Evaluation of Excel formulas from R is not entirely possible and comes at very high costs. But if it's important to you, fork the repo and pay a developer or better a small team to write a Excel-formula-to-R conversion function. Glue everything into a package and a couple of R packages will be happy to include it.

[2022-10-10 22:56] klin333 opened #391 "writeData() results in corrupt xlsx if sheet name contains "&""
If writeData() writes to a sheet with "&" in the sheet name string, then resulting xlsx file from saveWorkbook() is corrupt and cannot be opened by Excel.

**To Reproduce**
[code]

session info
[code]

Excel version
Microsoft® Excel® for Microsoft 365 MSO (Version 2209 Build 16.0.15629.20152) 32-bit

[2022-10-14 16:59] JanMarvin commented on #207
Hi @mendy-friedman , long time no see. I opened the file with `openxlsx2` which should be able to handle your file just fine. I ran the following code and the files look identical, but the sheets are not colored. If you want to give it a try, see the code below. I was using the current `openxlsx2` main branch.

[code]

[2022-10-16 19:36] mendy-friedman commented on #207
Thanks @JanMarvin - I'll check it out.  I didn't even know that `openxlsx2` existed (we've still been using `openxlsx` for our existing pipelines). I'll have to explore it.  Reading the vignette the enhancements look exciting.  Thanks for the heads up!

[2022-10-16 20:01] JanMarvin commented on #207
Development is still quite active. Our first CRAN release 0.3 is available since last month and a bugfix 0.3.1 release shall follow this month. For all openxlsx2 questions please use the other bug tracker and discussion boards.

[2022-10-19 14:34] Moohan commented on #195
Just re-opening this as I am currently searching for a solution / workaround to this issue.

There is this question/answer on SO: [Automatically - "Convert numbers stored as text to numbers"](https://stackoverflow.com/questions/52040942/automatically-convert-numbers-stored-as-text-to-numbers) but I think that's a pretty horrible solution.

Our current solution is to just manually dismiss the warni

[2022-10-22 09:04] #253 closed, assigned to nobody

[2022-10-25 13:04] dernst commented on #183
Just a comment because we had a problem recently which was also caused by this code segment. We had multiple child processes reading xls files (via `mclapply`). The child processes have the same `tempdir()` and start off with the same random number generator state. That is above code snippet would resolve to the same directory name (`xmlDir`) for each child process, each of which is trying to unzi

[2022-10-29 03:11] #245 closed, assigned to nobody

[2022-11-03 23:28] nicojx opened #393 "Sheet-based macros are removed on Workbook save"
**Describe the bug**
Loading a macro-enabled workbook (via `loadWorkbook()`) with sheet-based VBA macros (such as `Private Sub Worksheet_SelectionChange(ByVal Target As Range)`) and saving it again using `saveWorkbook()` results in the removal of those macros from the sheets.

What seems to happen is that `openxlsx` creates copies of the original sheets without macros (the visible sheet name is th

[2022-11-12 03:03] #36 closed, assigned to nobody

[2022-11-14 11:38] nicojx commented on #393
Realised this is similar to / the same issue as: https://github.com/ycphs/openxlsx/issues/44.

I have very little programming experience, but happy to try to help resolve it.

[2022-11-14 11:51] JanMarvin commented on #393
@nicojx , you could see if this works with openxlsx2, it's unlikely to be fixed here

[2022-11-14 13:44] nicojx commented on #393
Exactly the same behaviour with openxlsx2 -- I'll raise it there, too. Thanks!

[2022-11-17 14:05] aster-hu opened #394 "Import file with formula shows `&amp;` instead of `&`"
I have a spreadsheet that contains formula which generates value with special character `&`. However when importing the file using `read.xlsx`, all `&` become `&amp;`

A sample of spreadsheet [sample_data.xlsx](https://github.com/ycphs/openxlsx/files/10032200/sample_data.xlsx).

This is what it looks like in excel
| colA                  | colB            |
|-----------------------|---------------

[2022-11-19 02:53] #280 closed, assigned to nobody

[2022-11-19 02:53] #254 closed, assigned to nobody

[2022-11-26 02:34] #293 closed, assigned to nobody